body {
	font-size: @normalSize;
}

ul{
	list-style: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a { color: @blue; }

h1, h3, h4, h5, h6 {
	padding: 5px 0;
	color: @blue;
	&.border { width: 100%; border-bottom: 1px solid @blue; }
}

legend{
	position: relative;
	color: #E7212D;
	font-family: roboto;
	font-weight: 300;
	font-size: 21px;
	margin: 0 0 27px 0;
	padding: 0 0 6px 0;

	&:before{
		position: absolute;
		content: "";
		bottom: 0;
		left: 0;
		width: 44px;
		height: 3px;
		background: #E7212D;
	}
}



input[type="text"], input[type="password"], input[type="email"]{
	.size( 36px, 407px );
	border: none;
	.box-shadow ( inset 0 0 6px 3px @grayShadow );
	padding-left: 10px;
	color: @inputLetterColor;
	.placeholder ( @inputLetterColor );
	font-size: 15px;
}

input.fecha, input.datepicker-input, input#visita {
	width: 148px;
	margin-top: 5px;
}

textarea{
	.size( 200px, 406px );
	border: none;
	.box-shadow ( inset 0 0 6px 3px @grayShadow );
	.padding ( 10px, 0, 0, 10px );
	color: @inputLetterColor;
	.placeholder ( @inputLetterColor );
	font-size: 15px;
}

label{ 
	width: 115px;
	display: inline-block;
	float: left;
	font-size: 18px;
	color: @blueLabel;
	font-weight: bold;
}

.button-app{
	position: relative; 
	.size ( 29px, 103px );
	margin-top: 30px;
	background-color: #428BCA; 
	-webkit-transform: skew(-20deg); 
	transform: skew(-20deg);
	border: 1px solid #000;
	color: #FFF;
	font-size: 17px;
	.bold;
	#gradient .vertical( @colorinicial, @colorfinal );
}

.button-register{
	position: relative; 
	.size ( 29px, 103px );
	margin-top: 30px;
	background-color: #D92027; 
	-webkit-transform: skew(-20deg); 
	transform: skew(-20deg);
	border: none;
	color: #FFF;
	font-size: 17px;
	.bold;
	cursor: pointer;

	&:hover{
		opacity: 0.8;
	}
}

select{
	.box-shadow ( inset 0 0 6px 3px @grayShadow );
	.size( 30px, 260px );
}

.button-app, a { 

	&:hover{ opacity: 0.5; cursor: pointer; }
}




// Notifications
.global-notification {

	display: none;
	position: fixed;
	padding: 10px;
	width: 400px;
	top: 200px;
	left: 50%;
	margin-left: -200px;
	border: 1px solid #7A7260;
	background-color: lighten( #FFC633, 25%);
	.box-shadow( 0px 0px 6px darken(@gray, 50%) );
	color: darken(@gray, 60%) ;
	font-size: 14px;
	text-align: center;
	z-index: 99999999;

	&.red { color: darken(red, 30%) }
}

.confirm-notification {

	display: none;
	position: fixed;
	padding: 20px 10px 20px 10px;
	width: 400px;
	top: 200px;
	left: 50%;
	margin-left: -200px;
	border: 1px solid #7A7260;
	background-color: #454B4E;
	.box-shadow( 0px 0px 6px darken(@gray, 50%) );
	color: darken(@gray, 60%) ;
	font-size: 14px;
	text-align: center;
	z-index: 99999999;

	.message { color: #FFF; width: 100%; display: inline-block; font-size: 18px; font-weight: 100; }

	.buttons{
		display: inline-block;
		padding: 10px;
		min-width: 145px;
		color: #FFF;
		margin-top: 25px;

	}

	.confirm-accept-button{
		.buttons;
		background-color: #D92027;
	}

	.confirm-cancel-button{
		.buttons;
		background-color: #808080;
	}
}


.qq-upload-button{
	background-color: #4d4d4d;
	padding: 7px;
	min-width: 150px;
	color: #FFF;

}
.product-picture-uploader{ width: 205px; text-align: center; margin-top: 1px; }


