.certificacion{
	.size( 216px, 256px );
	margin: 5px 7px;
	.box-shadow( 0 1px 12px #777777 );
	.border-radius ( 4px );

	#consulta-form{

		.header{
			.size( 49px, 223px );
			margin: 0 auto;
			margin-bottom: 7px;
			border-bottom: 3px double rgba(204, 204, 204, 0.32);

			i{
				.size( 36px, 36px );
				display: inline-block;
				float: left;
				margin-top: 7px;
				background: url("../images/chulito.png");

			}

			h4{
				.size( 36px, 140px );
				float: left;
				color: @blueTitulos;
				font-weight: 500;
				font-size: 19px;
				margin-left: 10px;
				line-height: 16px;
				margin-top: 5px;
			}
		}

		.body{
			.size( 83px, 223px );
			margin: 0 auto;

			ul{
				margin-top: 21px;
				li{
					margin-bottom: 11px;

					input{
						.placeholder(#B2B1B1);
						font-weight: lighter;
						font-size: 14px;
					}

					input[name="codigo"]{
						.size( 32px, 175px );
					}

					input[name="serial"]{
						.size( 32px, 215px );
					}

					span{
						margin-left: 13px;
						display: inline-block;
						vertical-align: middle;
						font-size: 22px;
						font-weight: bold;
						color: rgba(174, 174, 174, 0.55);
					}
				}
			}
		}

		.footer{
			.size( 49px, 223px );
			margin: 0 auto 10px;
			text-align: center;

			input[type="submit"]{
				margin-top: 10px;
			}
		}
	}

}

.em-modal-box{

	.header{
		margin-top: 10px;
		text-align: center;
	}

	.body{
		width: 89%;

		span{
			font-size: 28px;
			font-weight: 700;
		}

		.certificacion-modal{
			p{
				text-align: justify;
				width: 100%;
				margin-top: 23px;
			}

			.imprimir{
				width: 100%;

				input{
					float: right;
				}
			}
		}


	}
}