#detalle-garantia-form{

	.top{
		ul{ 
			display: inline-block;
			width: 100%;

			li{ 
				width: 50%; 
				float: left;
				margin-bottom: 13px;

			}

			label{ width: 184px; font-size: 17px; }

			span{ color: #CCC; }
		}
	}

	.bottom{

		margin-top: 20px;

		table{
			.size( 44px, 100% );

			td{

				&:last-child{ border-right: 0; }
			}
		}

		.header{ .size( 45px, 100% );

			table{
				background-color: #004560;
				color: #FFF;
				text-align: center;

				td{ 
					border-right: 1px solid #A4A4A4;

					&:last-child{ border-right: 0; }
					&:first-child{ width: 299px; }
					&:nth-child(3) { width:158px; }
					&:nth-child(4) { width:79px; }

					


					span { 
						position: relative;

						&:before{
							position: absolute;
							content: '';
							height: 0px;
							width: 0px;
							right: -17px;
							top: 1px;
							background-color: #004560;
							border-left: 5px solid transparent;
							border-right: 5px solid transparent;
							border-bottom: 5px solid #FFF;
						}

						&:after{
							position: absolute;
							content: '';
							height: 0px;
							width: 0px;
							right: -17px;
							top:9px;
							background-color: #004560;
							border-top: 5px solid #FFF; 
						    border-left: 5px solid transparent; 
						    border-right: 5px solid transparent; 
						    border-bottom: 0px transparent;
						}

					}

				 }
			}
		}

		.content{ 
			.size( 159px, 100% );


			table{

				text-align: center;
				color: #B7B7B7;
				border-spacing: 0;
				border: 1px solid #CCC;
				border-top: 0;

				tr{
					&:nth-child( 2n ) { background-color: #EBEBEB;}

					td{ 
						height: 32px;
						border-right: 1px solid rgba(164, 164, 164, 0.54); 

						&:first-child{ width: 300px; }
						&:nth-child(3) { width:160px; }
						&:nth-child(4) { width:81px; }
						&:last-child{ border-right: 0; }

						a{ color: #E8202D; text-decoration: underline;	}
					}
				}

			}

		}
	}
}

#gestion-producto-form{

	.top{
		label{ width: 200px; margin-bottom: 10px; }

		span{ color: #CCC; }
	}

	label{ float: none; }

	ul{
		width: 100%;
		display: inline-block;
		margin-bottom: 10px;

		li{ width: 37%; float: left;}

		&.two-columns{

			li{
				margin-top: 10px;
				display: inline-block;
				float: left;
				width: 50%;

				label{ width: 100%; float: none; margin-bottom: 10px; }
				input[type="text"], textarea { width: 92% }
				textarea{ height: 100px; }

				&:last-child{

					select{ width: 95%; margin-bottom: 10px; margin-top: 31px; }

					input[type="radio"]{ margin-right: 8px; }

					label{
						width: 28%;
					}

					input[type="submit"]{ margin-top: 1%; width: 95%; }
				}
			}
		}
	}


	
}

.button-normal{ 
	border: none;
	color: #FFF;
	background-color: #D92027;
	padding: 7px;
	min-width: 127px;
	font-size: 15px;
	cursor: pointer;

	&:hover{

		opacity: 0.8;
	}
}

.em-modal-box{

	.body{

		.replica-content{
			text-align: justify;

			.diagnostico{
				max-height: 150px;
				overflow-y: scroll;
				margin-bottom: 25px;
			}

			#replica-form{
				width: 100%;

				& *{ width: 100%; }

				ul{

					li{
						margin-bottom: 10px;

					}
				}
			}

		}
	}
}