#garantia-form{

	.garantia-solicitud{
		width: 100%;
		display: inline-block;

		.top{
			float: left;
			ul{
				display: block;

				li{
					float: left;
					width: 50%;
					margin-bottom: 14px;

					&:last-child { width: 43%; }
				}
			}
		}

		.action{
			width: 100%;
			float: left;

			a{ 
				float: right; 
				color: #E8202D; 
				.bold; 
				font-size: 18px; 

				i{ font-size: 19px; }

			}

		}

		.medium{ 
			width:100%; 
			display: none; 
			margin-top: 20px;


			ul{
				display: block;
				float: left;
				width: 100%;

				li{
					width: 34%;
					float: left;
					position: relative;

					input[name="serial"]{ 
						width: 300px;
					}

					textarea{ .size( 67px, 539px ); margin-top: 8px; }

					.tooltip{
						position: absolute;
						transition: opacity .10s;
						-moz-transition: opacity .10s;
						-o-transition: opacity .10s;
						-webkit-transition: opacity .10s;
						border-radius: 6px;
						margin-top: 8px;
						z-index: 2;
						opacity: 0;
						border: 1px solid #1D5987;
						background-color: #FFF;
						display: none;
						left: 0px;

						&.serial{
							min-width: 50px;
							width: 300px;
							bottom: 53px;
							text-align: center;
						}

						&.descripcion{
							min-width: 50px;
							width: 552px;
							bottom: 97px;
							text-align: center;
						}

						&:after, &:before { content: ''; position: absolute; left: 50%; margin-left: -7.5px; }

						&:after {
							bottom: -13px;
							#triangle .bottom( 15px, 15px, #FFF );
						}

						&:before {
							bottom: -15px;
							#triangle .bottom ( 15px, 15px, #1D5987 );
						}
					}

					&:hover{

						.tooltip{
							opacity: 1;
							display: inline-block;
						}
					}

					&:last-child{
						width: 60%;
						margin-top: 20px;
					}
						
				}
			}

			input[type="submit"], input[type="button"]{ float: left; margin-right: 62px; margin-top: 10px; }
		}

		.bottom{
			margin-top: 20px;
			display: inline-block;
			width: 100%;

			table{
			.size( 44px, 100% );

				td{

				&:first-child{ width: 148px; }
				&:last-child{ border-right: 0; }
				&:nth-child(3), &:nth-child(4) { width: 120px; }
				}
			}

			.header{ 
				.size( 45px, 100% );

				table{
					background-color: #004560;
					color: #FFF;
					text-align: center;

					td{ 
						border-right: 1px solid #A4A4A4;

						&:first-child{ width: 148px; }
						&:last-child{ border-right: 0; }
						&:nth-child(3), &:nth-child(4) { width: 120px; }

						span { 
							position: relative;

							&:before{
							position: absolute;
							content: '';
							height: 0px;
							width: 0px;
							right: -17px;
							top: 1px;
							background-color: #004560;
							border-left: 5px solid transparent;
							border-right: 5px solid transparent;
							border-bottom: 5px solid #FFF;
							}

							&:after{
							position: absolute;
							content: '';
							height: 0px;
							width: 0px;
							right: -17px;
							top:9px;
							background-color: #004560;
							border-top: 5px solid #FFF; 
							border-left: 5px solid transparent; 
							border-right: 5px solid transparent; 
							border-bottom: 0px transparent;
							}

						}

					}
				}
			}

			.content{ 
				.size( 159px, 100% );


				table{
					text-align: center;
					color: #B7B7B7;
					border-spacing: 0;
					border: 1px solid #CCC;
					border-top: 0;

					tr{
						&:nth-child( 2n ) { background-color: #EBEBEB;}

						td{ 
							height: 32px;
							border-right: 1px solid rgba(164, 164, 164, 0.54); 

							&:first-child{ width: 150px; }
							&:nth-child(3), &:nth-child(4) { width: 122px; }

							a{ color: #E8202D; text-decoration: underline;	}
						}
					}

				}

			}
		}

		.accion{ 
			display: inline-block;
			.size( auto, 100% ); 

			input{ float: right; }
		}
	}
}

