.gestion{
	position: relative;

	.close-button { 
        position: absolute;
        top: 0px;
		right: 1px;
        .size( 74px, 83px );
        cursor: pointer;
        z-index: 8040;
        cursor: pointer;
        background: url("../images/equisPopUp.png");
        color: transparent;
    }

	.form-gestion-solicitud{

		.top{

			.filters{
				margin-bottom: 10px;
				li{
					width: 34% !important;

					&:nth-child(2){ width: 17% !important; }
					&:nth-child(3){ width: 24% !important; }

					&:nth-child(4){ width: 19% !important; }
				}

				label{ width: 154px !important; }

				.fecha, .datepicker-input{ width: 100px !important; }

				i{ margin-right: 0 !important; }

				input[name="identificacion"]{ width: 200px !important; margin-top: 5px; }

				select{ width: 245px !important; margin-top: 7px; }
			}

			


			.exportar{
				width: 100%;

				li{ width: 100% !important; }

				.exportar-excel{
					padding: 6px;
					min-width: 145px;
					background-color: #79BD4A;
					color: #FFF;
					border: none;
					float: right;
					cursor: pointer;
					.box-shadow( 0px 0px 3px 2px #CCC );
					font-size: 16px;

				}
			}
		}

		.bottom{

			.header{

				table{

					tr{
						td{

							&:nth-child(2){ width: 200px; }
							&:nth-child(3){ width: 200px !important; }
							&:nth-child(4){ width: 160px !important; }

						}
					}
				}
			}

			.content{
				table{

					tr{
						td{

							&:nth-child(2){ width: 201px; }
							&:nth-child(3){ width: 202px !important; }
							&:nth-child(4){ width: 163px !important; }

						}
					}
				}
			}
		}


	}

	.form-gestion{

		label{
			width: 185px;
			margin-top: 10px;
		}

		select{ width: 417px; }

		.left{

			&:nth-child(3){
				margin-top: 40px;
			}
		}

		.right{
			&:nth-child(4){
				margin-top: 30px;

				ul{ 
					li{

						&:nth-child(3){
							label{
								width: 100%;
							}
						}
					}
				}
			}
		}

		.accion{
			input[type="submit"]{
				float: right;
				width: 480px;
				margin-top: -32px;
				-webkit-transform: skew(0); 
				transform: skew(0);
			}
		}

	}
}