#gestion-garantia-form, .producto-form{

	.producto-list{
		.top{

			ul{
				li{
					width: 32% !important;

					label{
						width: 145px !important;
					}

					.datepicker-input{ float: left; width: 100px !important; }

					i{ margin-right: 0; float: left;}

					&:nth-child(2){ width: 17% !important; }
					&:nth-child(3){ width: 24% !important; }
					&:last-child{ width: 27% !important; }

					input[name="identificacion"]{ width: 200px !important; margin-top: 5px; }

					select{ width: 245px !important; margin-top: 7px; }
				}
			}
		}
	}

	.top{
		ul{ 
			display: inline-block;
			width: 100%;

			li{ 
				width: 50%; 
				float: left;
				margin-bottom: 13px;

			}

			label{ width: 184px; font-size: 17px; }

			span{ color: #CCC; }
		}
	}

	.bottom{

		margin-top: 20px;

		table{
			.size( 100px, 100% );
			border: 1px solid #CCC;
			border-top: 0;
			border-spacing: 0;
			border-collapse: collapse;
			color: #B7B7B7;
			text-align: center;



			td{

				&:last-child{ border-right: 0; }
			}

			th, td{
				border-right: 1px solid #A4A4A4;
				padding: 10px;

			}

			thead{ 
				background-color: #004560;
				color: #FFF;
				text-align: center;

				th{
					border-right: 1px solid #A4A4A4;
					padding: 10px;

				}
			}

			tr{
				&:nth-child( 2n ) { background-color: #EBEBEB;}
			}

			a{ color: #E8202D; text-decoration: underline;	}
		}

		ul{
			width: 90%;
			display: inline-block;
			float: right;
			margin-top: 20px;

			li{
				display: inline-block;
				width: 68%;
				float: left;
				text-align: right;

				label{
					width: 100%;
				}

				&:last-child{
					width: 31%;
					float: right;
				}
			}
		}

		.button-normal{
			width: 400px;
			float: right;
			margin-top: 15px;
		}

	}
}

.button-normal{ 
	border: none;
	color: #FFF;
	background-color: #D92027;
	padding: 7px;
	min-width: 127px;
	font-size: 15px;
	cursor: pointer;

	&:hover{

		opacity: 0.8;
	}
}

.em-modal-box{

	.body{

		.replica-content{
			text-align: justify;

			.diagnostico{
				max-height: 150px;
				overflow-y: scroll;
				margin-bottom: 25px;
			}

			#replica-form{
				width: 100%;

				& *{ width: 100%; }

				ul{

					li{
						margin-bottom: 10px;

					}
				}
			}

		}
	}
}