#adminForm{

	.top{
		ul{ 
			display: inline-block;

			li{ width: 50%; float: left;}

			label{ width: 218px; margin-top: 12px; }

			
		}

		.limpiar-filtros, .button-normal{ 
			border: none;
			color: #FFF;
			background-color: #D92027;
			padding: 7px;
			min-width: 127px;
			font-size: 15px;
			cursor: pointer;

			&:hover{

				opacity: 0.8;
			}
		}
	}

	.bottom{

		margin-top: 20px;

		table{
			.size( 44px, 100% );

			td{

				&:first-child{ width: 148px; }
				&:last-child{ border-right: 0; }
				&:nth-child(3), &:nth-child(4) { width: 120px; }
			}
		}

		.header{ .size( 45px, 100% );

			table{
				background-color: #004560;
				color: #FFF;
				text-align: center;

				td{ 
					border-right: 1px solid #A4A4A4;

					&:first-child{ width: 148px; }
					&:last-child{ border-right: 0; }
					&:nth-child(3), &:nth-child(4) { width: 120px; }

					


					span { 
						position: relative;

						

						a{
							text-decoration: none;
							color: #FFF;

							img{ display: none; }

							&:before{
							position: absolute;
							content: '';
							height: 0px;
							width: 0px;
							right: -17px;
							top: 1px;
							background-color: #004560;
							border-left: 5px solid transparent;
							border-right: 5px solid transparent;
							border-bottom: 5px solid #FFF;
							}

							&:after{
								position: absolute;
								content: '';
								height: 0px;
								width: 0px;
								right: -17px;
								top:9px;
								background-color: #004560;
								border-top: 5px solid #FFF; 
							    border-left: 5px solid transparent; 
							    border-right: 5px solid transparent; 
							    border-bottom: 0px transparent;
							}
						}

					}

				 }
			}
		}

		.content{ 
			.size( auto, 100% );


			table{

				text-align: center;
				color: #B7B7B7;
				border-spacing: 0;
				border: 1px solid #CCC;
				border-top: 0;

				tr{
					&:nth-child( 2n ) { background-color: #EBEBEB;}

					td{ 
						height: 32px;
						border-right: 1px solid rgba(164, 164, 164, 0.54); 

						&:first-child{ width: 150px; }
						&:nth-child(3), &:nth-child(4) { width: 122px; }

						a{ color: #E8202D; text-decoration: underline;	}
					}
				}

			}

		}
	}
}