.em-over-screen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    .size( 100%, 100% );
    z-index: 9999;
    background-color: rgba(14, 46, 61, 0.9);
    color: #FFF;
}

.em-modal-box {
    display: none; 
    position: fixed;
    top: 50%;
    left: 50%;
    width: 590px;
    min-height: 300px;
    margin-left: -250px;
    margin-top: -150px;
    background-color: #FFF;
    z-index: 99999;
    .transition(height 600ms);
    padding-bottom: 13px;

        .header {
            display: inline-block;
            width: 100%;
            background-color: #FFF;
            color: #6F6F6F;

            *{ display: inline-block; vertical-align: middle; }

            .close-modal-button { 
                position: absolute;
                top: -37px;
                right: -29px;
                .size( 74px, 83px );
                cursor: pointer;
                z-index: 8040;
                cursor: pointer;
                background: url("../images/equisPopUp.png");
                color: transparent;
            }

        }

        .body {
            display: inline-block;
            padding: 35px 25px 14px;    
            text-align: center;
            font-size: 16px;
            font-weight: 300;
            background-color: #FFF;
            margin-left: 10px;
            margin-right: 10px;
            width: 87%;
            max-height: 213px;
            overflow-y: scroll; 
            
            * { display: inline-block; vertical-align: middle; }

            p{ text-align: justify; }
        }

}



