
.producto-list{

	.bottom{

		th{

			a{
				position: relative;
				text-decoration: none;
				color: #FFF;

				&:before{
					position: absolute;
					content: '';
					height: 0px;
					width: 0px;
					right: -17px;
					top: 1px;
					background-color: #004560;
					border-left: 5px solid transparent;
					border-right: 5px solid transparent;
					border-bottom: 5px solid #FFF;
				}

				&:after{
					position: absolute;
					content: '';
					height: 0px;
					width: 0px;
					right: -17px;
					top:9px;
					background-color: #004560;
					border-top: 5px solid #FFF; 
				    border-left: 5px solid transparent; 
				    border-right: 5px solid transparent; 
				    border-bottom: 0px transparent;
				}

				img{ display: none; }
			}

			&:nth-child(3){
				width: 151px;
				display: inline-block;
			}


			&:nth-child(5){
				width: 95px;

			}
		}
	}
}

