.content-productos{
	.size(auto, 956px);
	display: inline-block;
	margin-top: 22px;
	.box-shadow( 6px 7px 8px -2px @grayBorder);
	border: 2px solid #E8E8E8;
	min-height: 400px;
	padding: 22px;

	h2{ 
		position: relative;
		margin-bottom: 23px;

		&:before{
			position: absolute;
			.size( 3px, 62px );
			left: 0;
			bottom: -2px;
			content: "";
			background-color: @green;
		}	
	}

	ul{ display: inline-block; width: 100%; li{ display: inline-block; } }

	#vehiculo-form{
		margin-bottom: 15px;

		ul{

			&.two-columns{

				li{
					width: 50%;
					float: left;
					margin-bottom: 10px;

					&:last-child{
						width: 43%;
					}

					label{ width: 162px; margin-top: 11px; }
				}
			}	
		}
	}


	fieldset{ 
		padding: 14px;
		border-color: #DEDEDE;
		border-style: dashed;
		margin-bottom: 27px;
		background-color: #F6F6F6;
	}

	#productos-form{

		.medium{ display: none; width: 100%; }

		.input-checkbox{

			li{

				label{
					float: right;
				}

				input[type="checkbox"]{
					float: left;
					margin-top: 3px;
					margin-right: 8px;
				}
			}
		}

		.fields-productos{
			margin-bottom: 10px;

			li{
				width: 25%;
				float: left;

				input[type="text"]{ width: 200px; }	
				input[type="file"]{ width: 200px; margin-top: 5px; }
				input[type="submit"]{ margin-top: 0; }

			}
		}
	}

	.button-app{
		border: 0;
		.box-shadow( 0 0 4px 2px #B4B4B4 );
		width: 150px;
		margin-top: 0;
	}

	table{
		width: 100%;
		margin-top: 10px;
		text-align: center;
		border-spacing: 0;
		border: 1px solid #CCC;
		border-top: 0;

			thead{
				background-color: #004560;
				color: #FFF;

				th{ padding: 10px; border-right: 1px solid #A4A4A4; }
			}

			tbody{
				tr{

					&:nth-child( 2n ) { background-color: #EBEBEB;}

					td{ border-right: 1px solid #A4A4A4; }
				}
			}
	}

	.productos{

		.form-productos-reportados{
			.top{

				input[name="identificacion"]{ width: 230px; }
				input[name="placa"]{ width: 190px; }


				ul{
					margin-bottom: 10px;

					li{
						width: 26%;

						input[name="final"], input[name="inicio"]{ width: 90px !important; }

						&:nth-child(2){ width: 22%; }

						&:nth-child(3){ width: 34%; }

						&:last-child{ width: 15%; }

						.calendar{ margin-right: 0; display:inline-block; margin-top: 8px; }

						label{ width: 180px; display: inline-block; margin-top: 11px;}
					}

				}
			}

			table{
				width: 100%;
				margin-top: 10px;
				text-align: center;
				border-spacing: 0;
				border: 1px solid #CCC;
				border-top: 0;

			thead{
				background-color: #004560;
				color: #FFF;

				th{ padding: 10px; border-right: 1px solid #A4A4A4; }

				a{ 
					text-decoration: none;
					color: #FFF;
					position: relative;

					&:before{
						position: absolute;
						content: '';
						height: 0px;
						width: 0px;
						right: -17px;
						top: 1px;
						background-color: #004560;
						border-left: 5px solid transparent;
						border-right: 5px solid transparent;
						border-bottom: 5px solid #FFF;
					}

					&:after {
						position: absolute;
						content: '';
						height: 0px;
						width: 0px;
						right: -17px;
						top: 9px;
						background-color: #004560;
						border-top: 5px solid #FFF;
						border-left: 5px solid transparent;
						border-right: 5px solid transparent;
						border-bottom: 0px transparent;
					}

					img{ display: none; }
				}
			}

			tbody{
				text-align: center;
				color: #B7B7B7;

				tr{

					&:nth-child( 2n ) { background-color: #EBEBEB;}

					td{ border-right: 1px solid #A4A4A4; height: 32px; border-right: 1px solid rgba(164,164,164,0.54) }


				}
			}
	}
		}

		.limpiar-filtros{
			border: none;
			color: #FFF;
			background-color: #D92027;
			padding: 7px;
			min-width: 127px;
			font-size: 15px;
			cursor: pointer;
		}
	}

	.wrapper-paginator{
		text-align: center;
		margin-top: 10px;
		margin-bottom: 20px;
		display: inline-block;
		width: 100%;

		ul{
			display: inline-block;
			width: 35%;

			li{
				width: 25px;
				float: left;
				display: inline-block;

				& > *{ 
					color: #CCC; 
					font-size: 16px !important;
					

					&:hover{
						background: none;
					}

					a{ cursor: pointer; }
				}

				&.pagination-start, &.pagination-prev, &.pagination-next, &.pagination-end{
					width: 70px;

					a{
						color: #79BD4A !important;
					}
				}

				&.pagination-prev{ a{ color: #CCC; } span{ color: #CCC; } }
				&.pagination-next{ a{ color: #CCC; } span{ color: #CCC; } }

				&.pagination-end{ a{ color: #E8202D; } span{ color: #E8202D; } }


				&:first-child{ 

					span{
						color: #E8202D;
					}

					a{
						color: #E8202D;
					}

				}

				&:last-child{ 

					a{
						color: #E8202D;
					}
				}

				a{ font-size: 18px; color: #004560 !important; }

				.pagenav{
					color: #79BD4A;
				}
			}
		}

		.counter{
			display: none;
		}
	}
}