.login, .reset, .remind, .registration{
	.size(auto, 967px);
	display: inline-block;
	.box-shadow( 6px 7px 8px -2px @grayBorder);
	border: 2px solid #E8E8E8;
	padding: 16px;

	fieldset{
		border: none;
		margin-bottom: 10px;

		label{
			width: 100%;
			margin-bottom: 10px;
			margin-top: 10px;
		}

		input{
			height: 30px;
		}

		.login-fields{
			display: inline-block;
			width: 100%;

		
			#remember-lbl{
				float: right;
				width: 98%;
				margin-top: 5px;
			}

			#remember{
				float: left;
			}

			&:first-child, &:nth-child(2){
				width: 45%;
				float: left;
			}
		}

		dl{

			dt{
				

				&:first-child{
					text-align: left;
				}

			}
		}

	}

	.button, .validate{
		.button-register;
		width: 150px;
		margin-top: 0;
	}

	.red, .star{ color: red; }
}

.options-register{
	margin-top: 30px;
	width: 100%;

	ul{
		display: inline-block;

		li{
			a{
				font-size: 18px;
			}
		}
	}
}

.invalid{
	color: red;
}

.register-buttons{
	float: right;

	a{
		margin-top: 30px;
		background-color: darken(#CCC, 30%);
		-webkit-transform: skew(-20deg);
		transform: skew(-20deg);
		border: none;
		color: #FFF;
		font-size: 17px;
		font-weight: 700;
		display: inline-block;
		padding: 4px 45px;
	}
}