.form-mis-garantias{

	.top{
		ul{ 
			display: inline-block;
			width: 100%;

			li{ 
				width: 39% !important; 
				float: left;
				margin-bottom: 13px;

				&:nth-child(2){ width: 22% !important; }

				i{
					float: left;
					margin-right: 0;
					margin-left: 5px;
				}

				.datepicker-input{ float: left; }

				select{ margin-left: 10px; margin-top: 8px; }

			}

			label{ width: 150px !important; margin-top: 10px; }
		}
	}

	.bottom{

		margin-top: 20px;

		table{
			.size( 44px, 100% );

			td{

				&:last-child{ border-right: 0; }
			}
		}

		.header{ .size( 45px, 100% );

			table{
				background-color: #004560;
				color: #FFF;
				text-align: center;

				td{ 
					border-right: 1px solid #A4A4A4;

					&:last-child{ border-right: 0; }
					&:first-child{ width: 189px !important; }
					&:nth-child(3) { width: 153px !important; }
					&:nth-child(4) { width: 153px !important; }

					


					span { 
						position: relative;

						&:before{
							position: absolute;
							content: '';
							height: 0px;
							width: 0px;
							right: -17px;
							top: 1px;
							background-color: #004560;
							border-left: 5px solid transparent;
							border-right: 5px solid transparent;
							border-bottom: 5px solid #FFF;
						}

						&:after{
							position: absolute;
							content: '';
							height: 0px;
							width: 0px;
							right: -17px;
							top:9px;
							background-color: #004560;
							border-top: 5px solid #FFF; 
						    border-left: 5px solid transparent; 
						    border-right: 5px solid transparent; 
						    border-bottom: 0px transparent;
						}

					}

				 }
			}
		}

		.content{ 
			.size( 300px, 100% );


			table{

				text-align: center;
				color: #B7B7B7;
				border-spacing: 0;
				border: 1px solid #CCC;
				border-top: 0;

				tr{
					&:nth-child( 2n ) { background-color: #EBEBEB;}

					td{ 
						height: 32px;
						border-right: 1px solid rgba(164, 164, 164, 0.54); 

						&:first-child{ width: 246px; }
						&:nth-child(2) { width:333px; }
						&:nth-child(3) { width:271px; }
						&:nth-child(4) { width:81px; }
						&:last-child{ border-right: 0; }

						a{ color: #E8202D; text-decoration: underline;	}
					}
				}

			}

		}
	}
}