.content-solicitud{
	.size(auto, 998px);
	display: inline-block;
	margin-top: 22px;
	.box-shadow( 6px 7px 8px -2px @grayBorder);
	border: 2px solid #E8E8E8;

	

	.solicitud{
		.size ( auto, 928px );
		min-height: 300px;
		float: right;
		padding: 33px;

		h2{ 
			position: relative;
			margin-bottom: 23px;

			&:before{
				position: absolute;
				.size( 3px, 62px );
				left: 0;
				bottom: -2px;
				content: "";
				background-color: @green;
			}	
		}

		

			.form-solicitud{
				.size ( auto, 100% );
				margin: 0 auto;
				display: inline-block;

				ul{ 
					li{ margin-top: 15px; display: inline-block;}
				}

				.left{
					.size ( auto, 50% );
					min-height: 266px;
					float: left;

				}

				.right{
					.size ( auto, 50% );
					min-height: 266px;
					float: right;
				}


				.accion{
					width: 100%;
					float: left;

					input.button-app{
						float: right;
					}

				}


			}
		

		
	}

	.wrapper-paginator{
		text-align: center;
		margin-top: 10px;
		margin-bottom: 20px;
		display: inline-block;
		width: 100%;

		ul{
			display: inline-block;

			li{
				width: 25px;
				float: left;
				display: inline-block;

				& > *{ 
					color: #CCC; 
					font-size: 16px !important;
					

					&:hover{
						background: none;
					}

					a{ cursor: pointer; }
				}

				&.pagination-start, &.pagination-prev, &.pagination-next, &.pagination-end{
					width: 70px;

					a{
						color: #79BD4A !important;
					}
				}

				&.pagination-prev{ a{ color: #CCC; } span{ color: #CCC; } }
				&.pagination-next{ a{ color: #CCC; } span{ color: #CCC; } }

				&.pagination-end{ a{ color: #E8202D; } span{ color: #E8202D; } }


				&:first-child{ 

					span{
						color: #E8202D;
					}

					a{
						color: #E8202D;
					}

				}

				&:last-child{ 

					a{
						color: #E8202D;
					}
				}

				a{ font-size: 18px; color: #004560 !important; }

				.pagenav{
					color: #79BD4A;
				}
			}
		}

		.counter{
			display: none;
		}
	}

}

