.close-session{
	display: inline-block;
	vertical-align: middle;
	width: 100%;

	.greeting{
		width: 40%;
		float: left;
		position: relative;
		margin-bottom: 23px;
		color: @green;
		font-size: 18px;

			
	}

	.logout-button{
		float: right;

		input[type="submit"]{
			.button-register;
			margin-top: 0;
			width: 136px;
			background-color: darken(#CCC, 30%)
		}
	}
}

.menu{
	background: none repeat scroll 0 0 #FAFAFA;
    height: 44px;
    margin: -3px auto 0;
    position: relative;
    width: 1000px;
    box-shadow: 1px 2px 8px -4px rgba(0, 0, 0, 0.5);
    z-index: 1;

    ul{
    	display: inline-block;
	    float: right;
	    list-style: none outside none;
	    margin: 0;
	    padding: 0 0 1px;
	    position: relative;
	    width: 991px;
	    z-index: 999;

	    

	    li{
	    	border-right: 1px solid #CCCCCC;
		    float: left;
		    height: 27px;
		    margin-left: 5px;
		    margin-right: 1px;
		    padding: 12px 55px 5px 49px;
		    position: relative;

		    &:last-child{
		    	border-right: medium none;
		    }

		    .hover-a{
		    	border-bottom: 3px solid #7ABE4B;
			    color: #7ABE4B;
			    font-family: 'Arimo','sans-serif';
			    font-size: 15px;
			    padding-bottom: 11px;
		    }

		    a{
		    	color: #00768E;
			    font-family: 'Arimo','sans-serif';
			    font-size: 15px;

			    &:hover{
			    	.hover-a;
			    }
		    }

		    &:hover{
		    	a{
		    		.hover-a;
		    	}
		    }

		    ul{
		    	background: none repeat scroll 0 0 #83B151;
			    height: 0;
			    left: 1px;
			    padding: 3px 0;
			    position: absolute;
			    top: 44px;
			    transition: height 100ms ease 0s, visibility 100ms ease 0s;
			    visibility: hidden;
			    width: 176px;
			    z-index: 99992;

			    li{
			    	-moz-border-bottom-colors: none;
				    -moz-border-left-colors: none;
				    -moz-border-right-colors: none;
				    -moz-border-top-colors: none;
				    border-color: -moz-use-text-color -moz-use-text-color #6A9140;
				    border-image: none;
				    border-style: none none dashed;
				    border-width: 0 0 1px;
				    color: #42005B;
				    height: 0;
				    margin: 0;
				    padding: 4px 2px 9px 9px;
				    transition: height 100ms ease 0s, visibility 100ms ease 0s;
				    visibility: hidden;
				    width: 229px;
				    background: none repeat scroll 0 0 #83B151;

				    &:last-child{
				    	border-bottom: 0 none;
				    	margin-bottom: -1px;
				    }

				    a{
				    	border-bottom: 0 none !important;
   						color: #FFFFFF !important;	
				    }
			    }
		    }

	    }

	    & > li{
	    	&:first-child{
	    		border-left: 0 none;
	    	}

	    	&:hover{
	    		height: auto;
    			visibility: visible;

    			ul{
    				li{
    					height: 20px;
   						visibility: visible;
    				}
    			}
	    	}
	    }
    }
}

.em-modal-box{

	.notification{
		width: 100%;

		.bold;

		h2{ font-size: 21px; letter-spacing: 0; }

		ul{
			width: 100%;

			li{ float: left; width: 100%; 

				&:nth-child(6){ 
					label{
						color: #CCC;
					}
				}

				h2{ 
					width: 100%;

					&:before{ width: 0 !important; }

				}
			}

			&.print{
				margin-top: 5px;
			}
		}

		img{ margin-bottom: 10px; }

		label{ width: 100%; }

	}			
}

.calendar{ 
	background: url("../images/calendario.png");
	display: inline-block;
	width: 40px;
	height: 30px;
	background-repeat: no-repeat;
	margin-right: 38px;
	float: right;
	margin-top: 8px;
	cursor: pointer;
}