/***
* Variables
*/

@gray: #DADADA;
@white: #FFF;
@blue: #1D5987;
@darkblue: darken( @blue, 20%);
@lightblue: lighten( @blue, 50%);
@green: #79BD4A;
@grayBorder: #D2D2D2;
@graybg: #B6B6B6;
@grayShadow: #DEDEDE;
@inputLetterColor: #807F7F;
@blueLabel: #053C56;
@colorinicial: #C1272D;
@colorfinal: #EA212E;
@blueTitulos: #003D58;

// Fonts 
@content: 'Open Sans', sans-serif;

// Font font-weight
@semibold: 600;
@light: 300;
@bold: 700;
@normal: 400;

// Fonts size
@tinySize: 11px;
@normalSize: 14px;
@mediumSize: 16px;
@largeSize: 20px;
@xlargeSize: 24px;

// Fonts shortcuts
.bold { font-weight: @bold; }