
* {
    font-family: 'Roboto',sans-serif;
    margin: 0;
    padding: 0;
}
body {
    background-color: #FFFFFF;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}
img {
    border: 0 none;
}
p {
    color: #4F346E;
    font-family: 'Didact Gothic','sans-serif';
    font-size: 14px;
}
b {
}
strong {
}
table {
}
td {
}
ul {
    list-style: none outside none;
}
a {
    font-size: 14px;
    text-decoration: none;
}
a:visited {
    font-size: 14px;
    text-decoration: none;
}
a:hover {
    font-size: 14px;
    text-decoration: none;
}
h3 {
}
h4 {
    color: #AB1F26;
    font-size: 17px;
    font-weight: 200;
}
h4 a {
    color: #AB1F26;
    font-size: 17px;
    font-weight: 200;
}
h2 {
    background: url("../images/franja-noti.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #FFFFFF;
    font-family: 'Donegal One',serif;
    font-size: 17px;
    font-weight: 100;
    height: 30px;
    margin: 30px 0;
    padding: 5px 0 0 43px;
    width: 960px;
}
hr {
    border-bottom: medium none;
    border-top: 1px dashed #CCCCCC;
    height: 0;
    margin: 18px auto 0;
    width: 95%;
}
hr.separator {
}
.article_seperator {
}
.pagenav {
    border-radius: 5px 10px;
    color: #FFFFFF;
    font-family: 'Orbitron',arial,serif;
    font-size: 9px;
    padding: 3px;
    text-transform: uppercase;
}
.pagenav:hover {
    background-color: #4D4D4D;
}
#content_cab {
    background: url("../images/cabezoteFondo.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 151px;
    margin: 0 auto;
    position: relative;
    width: 100%;
    z-index: 9;
}
#content_top {
    position: relative;
    height: 232px;
    margin: 0 auto;
    width: 1000px;
}
.enlace-home {
    position: absolute;
    z-index: 99999999;
    width: 257px;
    height: 94px;
    top: 9px;
    left: 24px;
}
#logo-animate {
    float: left;
    height: 142px;
    padding-top: 5px;
    position: relative;
    width: 326px;
    z-index: 98765;
}
#mods-top {
    float: right;
    margin-top: 10px;
    width: 327px;
}

#acceso {
    margin-left: 47px;
}

#buscar {
    margin-top: 10px;
}
#buscar .search input.button {
    background: none repeat scroll 0 0 #0F6F96;
    border: medium none;
    color: #FFFFFF;
    padding: 3px 9px 5px;
    font-family: roboto;
    font-size: 14px;
    border: 1px solid #003449;
    margin-left: 5px;
    cursor: pointer;
}
#buscar input#mod-search-searchword {
    color: #999999;
    font-size: 14px;
    margin-right: 3px;
    padding: 2px 0;
    width: 245px;
}

#buscar label {
    display: none;
}
#content-banner {
    float: left;
    height: 378px;
    margin-bottom: 27px;
    margin-top: -41px;
    overflow-x: hidden;
    width: 100%;
}
.default-modal .ju-slide-navigation-dots {
    margin: 3px 5px;
}
#banner {
    height: 378px;
    margin: 0 auto;
    width: 100%;
}
#sombra-banner {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    height: 37px;
    margin-top: -60px;
    opacity: 0.2;
    width: 100%;
}
#content-menu {
    float: left;
    height: 46px;
    margin: -23px auto 0;
    position: relative;
    width: 100%;
    z-index: 991;
}
#menu {
    background: none repeat scroll 0 0 #FAFAFA;
    height: 44px;
    margin: -3px auto 0;
    position: relative;
    width: 1000px;
    box-shadow: 1px 2px 8px -4px rgba(0, 0, 0, 0.5);
}
#menu .moduletable .menu {
    display: inline-block;
    float: right;
    list-style: none outside none;
    margin: 0;
    padding: 0 0 1px;
    position: relative;
    width: 991px;
    z-index: 999;
}


/*Estilos de el menu pirncipal con el modulo*/

#flyout_menu_100 {
    text-align: left;
    background: none !important;
    border:none;
}

#flyout_menu_100 li .item-wrapper .menu-link {
    float: left;
    padding: 0 27px 0 16px;
    border-right: 1px solid #ccc;
    height: 37px;
}

#flyout_menu_100 a {
    color: #00768E;
    font-family: 'Arimo','sans-serif';
    font-size: 15px;
    padding-bottom: 12px;
}

#flyout_menu_100 li .item-wrapper .menu-button {display: none;}

#flyout_menu_100 li.current > .item-wrapper a {
    color: #83B151;
    font-family: 'Arimo','sans-serif';
    font-size: 15px;º
}

#flyout_menu_100 a:hover {
    border-bottom: 3px solid #7ABE4B;
    color: #7ABE4B;
    font-family: 'Arimo','sans-serif';
    font-size: 15px;
    padding-bottom: 3px;
}

#flyout_menu_100 li ul {
    border: none;
    width: 200px;
    background: #83B151;
    margin: 0px;
    padding: 0px;
}

#flyout_menu_100 div.ul-wrapper.direction-left.ul_wrapper_100 .item-wrapper  .menu-link {
    border-right: none;
    padding: 0 10px 0 12px;
}

.flyout-menu li ul li .item-wrapper {
    background: none repeat scroll 0 0 #83B151;
}

#flyout_menu_100 li li {
    position: relative;
    border-bottom: 1px dashed #666;
}

/*.flyout-menu li ul li .item-wrapper:last-child { border-bottom: none;}*/

.flyout-menu li ul li  {
    border-bottom: none;
}

.flyout-menu li ul li .item-wrapper a {
    line-height: 14px;
    padding: 10px 0;
    border-bottom: none;
    color: #fff !important;
}

#flyout_menu_100 li.last .item-wrapper .menu-link {border-right: none;}

ul.flyout-menu li ul, .flyout-menu.horizontal, .flyout-menu.vertical, ul.flyout-menu li{ margin: 3px 0 0 0 !important;}


/*Fin de los estilos al modulo de menu*/


.moduletable .menu li {
    border-right: 1px solid #CCCCCC;
    float: left;
    height: 27px;
    margin-left: 5px;
    margin-right: 1px;
    padding: 12px 27px 5px 25px;
    position: relative;
}
.moduletable .menu li:last-child {
    border-right: medium none;
}
.moduletable .menu li a {
    color: #00768E;
    font-family: 'Arimo','sans-serif';
    font-size: 15px;
}
.moduletable .menu li a:hover, .moduletable .menu li:hover a {
    border-bottom: 3px solid #7ABE4B;
    color: #7ABE4B;
    font-family: 'Arimo','sans-serif';
    font-size: 15px;
    padding-bottom: 11px;
}
#menu .moduletable .menu li ul {
    background: none repeat scroll 0 0 #83B151;
    height: 0;
    left: 1px;
    padding: 3px 0;
    position: absolute;
    top: 44px;
    transition: height 100ms ease 0s, visibility 100ms ease 0s;
    visibility: hidden;
    width: 176px;
    z-index: 99992;
}
#menu .moduletable .menu li ul li {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #6A9140;
    border-image: none;
    border-style: none none dashed;
    border-width: 0 0 1px;
    color: #42005B;
    height: 0;
    margin: 0;
    padding: 4px 2px 9px 9px;
    transition: height 100ms ease 0s, visibility 100ms ease 0s;
    visibility: hidden;
    width: 165px;
}
#menu .moduletable .menu li ul li:last-child {
    border-bottom: 0 none;
}
#menu .moduletable .menu > li:first-child {
    border-left: 0 none;
}
#menu .menu li .item-104 ul li {
    border: medium none;
}
#menu .menu li ul li:last-child {
    margin-bottom: -1px;
}
#menu .menu li ul li a {
    border-bottom: 0 none !important;
    color: #FFFFFF !important;
}
#menu .menu li ul li:hover {
}
#menu .menu > li:hover ul {
    height: auto;
    visibility: visible;
}
#menu .menu > li:hover ul li {
    height: 20px;
    visibility: visible;
}
#all-content {
    float: left;
    height: auto;
    margin: 0 auto;
    width: 100%;
}
#content-content {
    height: auto;
    margin: 0 auto;
    width: 1000px;
    padding-top: 60px;
    padding-bottom: 35px;
}
#left-content {
    float: left;
    height: auto;
    width: 765px;
}
#destacados {
    border-bottom: 1px solid #CCCCCC;
    float: left;
    height: 222px;
    margin: 0 0 25px;
    width: 749px;
}
.moduletabledestacados-home .nspArt h4.nspHeader {
    margin-bottom: 10px;
    margin-top: 12px;
    width: 482px;
}
.moduletabledestacados-home .nspArt h4.nspHeader a {
    color: #00768E;
    font-family: 'Roboto',sans-serif;
    font-size: 15px;
    font-weight: bold;
}
.moduletabledestacados-home h3 {
    color: #E7212D;
    font-family: 'Roboto',sans-serif;
    font-size: 21px;
    padding-bottom: 3px;
    width: 300px;
}
.moduletabledestacados-home h3:after {
    border-bottom: 3px solid #E7212D;
    bottom: 0;
    content: "";
    display: inline-block;
    left: 0;
    position: absolute;
    width: 44px;
}
.moduletabledestacados-home .nspArt img.nspImage {
    border:1px solid #ccc;
    box-shadow: 5px 6px 6px 0 #CCCCCC;
}
.moduletablenoticias-home .nspArt img.nspImage {
    border: medium none;
    box-shadow: -2px 3px 8px 4px #CCCCCC;
}

.moduletablenoticias-home .nspArt h4.nspHeader {
    margin-bottom: 10px;
    margin-top: 27px;
    width: 500px;
}
.moduletablenoticias-home .nspArt h4.nspHeader a {
    color: #00768E;
    font-family: 'Roboto',sans-serif;
    font-size: 15px;
    font-weight: bold;
}
.nspPagination li {
    background-image: none;
    cursor: pointer;
    float: left;
    height: 23px;
    margin: 0 4px 0 0 !important;
    text-indent: 0;
    width: 13px;
}
#noticias {
    float: left;
    height: 159px;
    margin-top: 20px;
    width: 765px;
}
.nspBotInterface, .nspTopInterface {
    float: right;
    margin: 5px 12px 0 0;
    overflow: hidden;
    width: 81px;
}
.moduletablenoticias-home .nspFs100 {
    font-size: 100%;
    margin-top: -54px;
}
a.readon.fleft {
    color: #EA212E;
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    text-decoration: underline;
}
.nspArt p.nspText {
    color: #999999;
    float: none;
    font-family: 'Arimo','sans-serif';
    font-size: 14px;
    text-align: justify;
}
ul.nspPagination li.active {
    color: #E7212D;
    text-decoration: underline;
}
ul.nspPagination li {
    color: #003D57;
    font-size: 12px;
}
#content-mods {
    float: left;
    height: 215px;
    width: 765px;
}
#banco-pruebas {
    border-radius: 8px;
    box-shadow: 0 1px 12px #777777;
    cursor: pointer;
    float: left;
    height: 215px;
    margin-top: 3px;
    position: relative;
    width: 221px;
}
#calendario {
    box-shadow: 0 2px 16px 4px #CCCCCC;
    float: left;
    height: 217px;
    margin-left: 26px;
    margin-right: 22px;
    margin-top: 4px;
    width: 226px;
}
#calendario .moduletable {
    margin-top: -4px;
}
#certificacion {
    float: left;
    height: 216px;
    margin-left: -9px;
    width: 251px;
}
#right-content {
    box-shadow: 0 2px 10px 2px #777777;
    float: right;
    height: 618px;
    margin-top: 31px;
}
#orden-aqui {
    cursor: pointer;
    float: right;
    height: 619px;
    width: 214px;
}
#descuentos {
    background: url("../images/CajaDescuentos.png") no-repeat scroll -4px -4px rgba(0, 0, 0, 0);
    border-radius: 13px;
    box-shadow: 0 3px 6px 0 rgba(50, 50, 50, 0.75);
    float: left;
    height: 230px;
    margin-top: 20px;
    width: 640px;
}
#content_pie {
    background: url("../images/pie.png") no-repeat scroll center top rgba(0, 0, 0, 0);
    float: left;
    height: 188px;
    margin: 40px auto 0;
    width: 100%;
}
#pie p {
}
#pie span {
    font-family: 'Didact Gothic','sans-serif';
    font-size: 18px;
}
#pie {
    color: #FFFFFF;
    float: right;
    font-family: 'Didact Gothic','sans-serif';
    font-size: 18px;
    height: 114px;
    margin-right: 161px;
    text-align: left;
    width: 460px;
}
h4.inferior {
    background: url("../images/linea-pie.png") no-repeat scroll 0 17px rgba(0, 0, 0, 0);
    color: #FFFFFF;
    display: inline-block;
    float: left;
    font-family: 'Arimo','sans-serif';
    font-size: 17px;
    font-weight: 400;
    height: 43px;
    width: 100%;
}
p.tinferior {
    color: #FFFFFF;
    float: left;
    font-family: 'Arimo','sans-serif';
    font-size: 15px;
    font-weight: lighter;
    text-shadow: 0 4px 11px #666666;
}

p.tinferior a {
    color: #FFFFFF;
    float: left;
    font-family: 'Arimo','sans-serif';
    font-size: 15px;
    font-weight: lighter;
    text-shadow: 0 4px 11px #666666;
}

h4.inferior2 {
    background: url("../images/linea-pie2.png") no-repeat scroll -9px 17px rgba(0, 0, 0, 0);
    color: #FFFFFF;
    display: inline-block;
    float: left;
    font-family: 'Arimo','sans-serif';
    font-size: 17px;
    font-weight: 400;
    height: 43px;
    width: 100%;
}
#like-face {
    float: right;
    margin-right: 56px;
    width: 260px;
}
#redes {
    float: left;
    height: 88px;
    position: relative;
    width: 321px;
}
#redes iframe {
    margin-right: -5px;
    margin-top: -20px;
}
#copy {
    color: #FFFFFF;
    float: left;
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    height: 22px;
    margin: 3px auto 0 0;
    text-align: left;
    width: 264px;
}
#logo {
    background-image: url("../images/logo_blanco.png");
    background-repeat: no-repeat;
    float: right;
    height: 20px;
    width: 72px;
}
#logo:hover {
    background-image: url("../images/logo_gris.png");
    background-repeat: no-repeat;
    float: right;
    height: 20px;
    margin-top: -1px;
    width: 72px;
}
#content_piedos {
    height: 112px;
    margin: 8px auto 0;
    padding-top: 70px;
    position: relative;
    width: 1000px;
}
#menu:before, #menu:after {
    bottom: 15px;
    box-shadow: 0 11px 12px #777777;
    content: "";
    height: 5px;
    left: 10px;
    max-width: 301px;
    position: absolute;
    top: 69%;
    transform: rotate(-3deg);
    width: 50%;
    z-index: -9999;
}
#menu:after {
    left: auto;
    right: 10px;
    transform: rotate(3deg);
}
#banco-pruebas:before, #banco-pruebas:after {
    bottom: 15px;
    box-shadow: 0 11px 12px #777777;
    content: "";
    height: 5px;
    left: 10px;
    max-width: 301px;
    position: absolute;
    top: 93%;
    transform: rotate(-3deg);
    width: 50%;
    z-index: -9999;
}
#banco-pruebas:after {
    left: auto;
    right: 10px;
    transform: rotate(3deg);
}
.mod_events_monthyear a.mod_events_link, .mod_events_monthyear a.mod_events_link:visited, .mod_events_monthyear a.mod_events_link:visited {
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
}
.default-modal .ju-slide-btns .prev_button, .default-modal .ju-slide-btns .next_button {
    border: 1px solid #FFFFFF;
    padding: 0 6px;
}

#banner .ju-slide-desc-inner h3 {
    
}

#content-content h2 {
    position: relative;
    color: #E7212D;
    font-family: roboto;
    font-weight: 300;
    font-size: 21px;
    margin:0 0 27px 0;
    padding: 0 0 6px 0;
}

#content-content h2:before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 44px;
    height: 3px;
    background: #E7212D;
}

#content-content p {
    color: #999999;
    font-family: Arimo;
    font-size: 15px;
    line-height: 20px;
    text-align: justify;
}

.menu li.current.active a {

    border-bottom: 3px solid #7ABE4B;
    color: #7ABE4B;
    font-family: 'Arimo','sans-serif';
    font-size: 15px;
    padding-bottom: 11px;

}

#content-content h3 {
    color: #004561;
    font-family: roboto;
    font-weight: 500;
    font-size: 21px;
    margin:0 0 27px 0;
}

#content-content h4 {
    color: #00768E;
    font-family: roboto;
    font-weight: 500;
    font-size: 18px;
    margin:0 0 10px 0;
}

.tabla-empresa {
    margin-top: 15px;
    width: 100%
}

.tabla-empresa td {
    color: #999999;
    font-family: Arimo;
    font-size: 15px;
    line-height: 20px;
    text-align: justify;
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.tabla-empresa td img {
    border: 1px solid #E6E6E6;
    box-shadow: 4px 5px 7px rgba(0,0,0,0.3);
    margin-right: 30px;

}

.tabla-empresa td ul {
    margin-left: 20px;
}

.tabla-empresa td ul li {
    list-style-image: url("../../../images/vineta.png");
    margin-bottom: 15px;
}

.img-video {
    box-shadow: none !important;
    border: 0 !important;
    margin-left: -10px;
}

.align-top {
    vertical-align: top;
    padding-top: 15px;
}

/*Tabs*/

div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li > span > a {
    border: 0px;
    display: block;
    margin-right: 2px;
    padding: 0;
    width: auto;
    height: 33px;
    background: url("../../../images/tab1.png") no-repeat;
    background-size: cover;
    transition-duration: 0.2s;
}

div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li > span > a, div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li > span > a:link, div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li > span > a:visited, div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li > span > a:active, div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li > span > a:hover {
    color: #fff;
    font-size: 17px;
    padding-left: 15px;
    padding-right: 68px;
    padding-top: 6px;
}

div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li > span {
    margin-left: 10px;
}

div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.active > span > a, div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.active > span > a:hover {
     background: url("../../../images/tab-active.png") no-repeat;
     background-size: cover;
}

div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li > span > a:hover {
    background-color: transparent;
    /*opacity: 0.9;*/
}

div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.active > span > a, div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.active > span > a:hover {
    border-width: 0;
}

div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.active > span > a:focus {
    color: #fff !important;
    background-color: transparent !important;
}

div.nn_tabs_container.outline_content > div.nn_tabs_content {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 67%, #e6e6e6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(67%,#ffffff), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 67%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 67%,#e6e6e6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 67%,#e6e6e6 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 67%,#e6e6e6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */
    border-top: 5px solid #004561;
    border-bottom-color: #fff;
    border-left-color: #fff;
    border-right-color: #fff;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px
    border-radius: 0;
    padding: 30px 22px;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
    margin-bottom: 60px;
}

/*div.nn_tabs_container.outline_content > div.nn_tabs_content img {
    border-radius: 100%;
    box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
    margin: 0 50px 0px 0px;
}*/

.nn_tabs_alias_orden-de-servicio > a, .nn_tabs_alias_orden-de-garantía > a, .nn_tabs_alias_información-técnica > a {
    margin-left: -17px;
}

div.nn_tabs_container>div.nn_tabs_nav>ul.nn_tabs_tabs>li {
float: left;
/* margin: 0!important; */
margin-bottom: -1px!important;
padding: 0!important;
list-style: none!important;
list-style-image: none!important;
background: none!important;
height: 55px;
}

.nn_tabs_alias_manual-inyección > a {
    margin-left: -34px;
}

.tabla-talleres {
    margin:auto;
    width: 883px;
    color: #999999;
    font-family: Arimo;
    font-size: 15px;
    line-height: 20px;
    text-align: justify;
}

.tabla-talleres td  img {
    border-radius: 100%;
    box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
    margin: 0 50px 0px 0px;
}

.tabla-talleres td h3 {
    margin:0 0 15px !important;
}

.tabla-sucursales, .tabla-banco {
    width: 100%;
}

.tabla-sucursales td img, .tabla-banco td img {
    border: 1px solid #E6E6E6;
    box-shadow: 4px 5px 7px rgba(0,0,0,0.3);
    margin-right: 30px;
}


/*Estilos de el catalogo*/

.browse-view .width30 { width: 99%;}

.category_description { margin-bottom: 30px; }

.browse-view .row .product .spacer img, .related-products-view .row .product .spacer img {
    max-width: 90%;
    height: auto;
    box-shadow: 3px 3px 7px 1px #666;
    border: 1px solid #ccc;
}

#content-content .browse-view h2 {    
    color: #00768E;
    font-family: roboto;
    font-weight: 500;
    font-size: 18px;
    margin: 15px 0 10px 0;
    width: 241px;
    line-height: 21px;
}

.browse-view h2:before { background: none!important; height: 0; }

.browse-view h2 a {    
    color: #00768E;
    font-family: roboto;
    font-weight: 500;
    font-size: 18px;
    margin: 0 0 10px 0;
}

span.vote { display: none;} 

.browse-view .floatright, span.floatright {
    float: left;
    margin-left: 35px;
}

.browse-view .Details_Button a.product-details {
    background:none;
    color: #ED1C25;
    border: none;
    padding:0;
    float: right;
    text-decoration: underline;
}

.browse-view .product-price {display: none;}

.browse-view .Details_Button{ width: 241px; }

.browse-view .horizontal-separator {
    height: 1px;
    background: #A39D9D;
    margin: 35px 0 35px 42px;
    width: 90%;
}

.orderby-displaynumber { display: none; }

/*DETALLE DE EL CATALOGO*/

.productdetails-view .product-description, .product-fields {
    float: right;
    margin: 12px 0;
}

.productdetails-view .product-fields {
    margin: 0;
}

.productdetails .width60 {
    float: left;
    width: 42%;
}

.productdetails-view .PricesalesPrice {
    width: 100%;
    float: left;
}

.productdetails-view .addtocart-bar { display: none; }

.productdetails-view .width40 { width: 55%; }

.customer-reviews, .ask-a-question-view .form-field {
    margin: 25px 0 0;
    display: none;
}

.productdetails-view .content-description {
    border: 1px solid #ccc;
    margin-top: 12px;
    float: right;
    padding: 14px;
}

.productdetails-view .product-price {
    margin: 8px 0 12px 15px;
    float: left;
    width: 250px;
    border: 1px solid #ccc;
    text-align: center;
}

.productdetails-view h1 {
    color: #00768E;
    font-family: roboto;
    font-weight: 500;
    font-size: 21px;
    margin: 0 0 10px 0;
    border-bottom: 1px solid #00768E;
}


.tabla-sucursales td, .tabla-banco td {
    vertical-align: top;
    color: #999999;
    font-family: Arimo;
    font-size: 15px;
    line-height: 20px;
    text-align: justify;
}

.tabla-sucursales td ul li, .tabla-banco td ul li {
    list-style-image: url("../../../images/vineta.png");
    margin-bottom: 15px;
}

.tabla-sucursales td ul, .tabla-banco td ul {
    margin-left: 30px;
}

.tabla-sucursales td h3 {
    margin-bottom: 15px !important;
}
.tabla-banco td h3 {
    margin-bottom: 25px !important;
}

#nn_tabs_item_manual-convencionales h3 {
    margin-bottom: 5px !important;
} 
.sombra-img {
    box-shadow: 0px 0px 7px rgba(0,0,0,0.3);
    margin: 20px 0 10px 11px;
}

div.nn_tabs_container.outline_content > div.nn_tabs_content ul {
    margin-left: 21px;
    margin-top: 15px;
    
}

div.nn_tabs_container.outline_content > div.nn_tabs_content ul li {
    list-style-image: url("../../../images/vineta.png");
    margin-bottom: 15px;
    color: #999999;
    font-family: Arimo;
    font-size: 15px;
    line-height: 20px;
}

.tabla-gases {margin-top: 30px;}

.tabla-gases td {
    vertical-align: top;
    color: #999999;
    font-family: Arimo;
    font-size: 15px;
    line-height: 26px;
    text-align: justify;   
}

.tabla-gases td img {
    margin-left: 40px;
}

.align-middle {
    vertical-align: middle !important;
}

.tabla-recuerde {
    margin: 30px auto 0;
    padding: 13px;
    box-shadow: 0px 0px 7px rgba(0,0,0,0.5);
    width: 98%;
    margin: auto;
    background: url("../../../images/caution.jpg") no-repeat center right #fff;
}

.tabla-advertencia {
    padding: 13px;
    box-shadow: 0px 0px 7px rgba(0,0,0,0.5);
    width: 98%;
    margin: 30px auto 0;
    background: url("../../../images/caution2.jpg") no-repeat center right #fff;
}

.tabla-recuerde td, .tabla-advertencia td {
    border: 1px solid #ccc;
    padding: 30px 17px;
}

.tabla-recuerde td h2, .tabla-advertencia td h2 {
    font-weight: 600 !important;
    margin-bottom: 3px !important;
    width: auto;
}

.tabla-recuerde td h2:before, .tabla-advertencia td h2:before {
    content: none !important;
}

.tabla-recuerde td p, .tabla-advertencia td p {
    width: 660px;
}

/*noticias*/

.moduletablenoticias-contenido .nspArt h4.nspHeader a {
    text-decoration: none;
    color: #00768E;
    font-family: roboto;
    font-weight: 500;
    font-size: 20px;
}

.moduletablenoticias-contenido .nspArt p.nspText {
    float: left;
    width: 720px;
}

.moduletablenoticias-contenido .nspArt img.nspImage {
    border: medium none;
    box-shadow: 4px 4px 6px rgba(0,0,0,0.4);
}

.moduletablenoticias-contenido a.readon.fleft {
    color: #ea212e;
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    text-decoration: underline;
    margin-top: 10px;
}

.moduletablenoticias-contenido .nspArt {
    border-bottom: 1px solid #ccc;
    margin-bottom: 40px;
    padding-bottom: 20px;
}

.tabla-detalle {
    width: 100%;
}

.tabla-detalle td img {
    box-shadow: 4px 4px 6px rgba(0,0,0,0.4);
}

.tabla-detalle td {
    vertical-align: top;
    color: #999999;
    font-family: Arimo;
    font-size: 15px;
    line-height: 20px;
    text-align: justify; 
}

.volver-noticias {
    float: right;
    background: url("../../../images/bt-volver.png");
    width: 125px;
    height: 31px;
    margin-top: 20px;
    opacity: 1;
}

.volver-noticias a {
    color: #fff;
    display: inline-block;
    font-size: 17px;
    font-weight: 600;
    margin-left: 38px;
    margin-top: 3px;
}

.volver-noticias:hover { opacity: 0.8; }

div.MagicToolboxContainer {
    text-align: center;
    padding: 14px;
}

.productdetails-view .PricesalesPrice {
    width: 100%;
    float: left;
    color: #E7212D;
    font-size: 20px;
    font-style: italic;
    text-align: right;
    padding: 6px 0 7px 13px;
}

.productdetails-view .PricesalesPrice span {
    float: right;
    display: inline-block;
    width: 137px;
    text-align: left;
    padding: 0;
    margin-left: 5px;
}


div.MagicToolboxSelectorsContainer {
    text-align: center;
    background: #E6E6E6;
    height: 55px;
    box-shadow: 2px 5px 0px 6px #e6e6e6;
    padding: 8px;
}

div.MagicToolboxContainer a {
    margin: 0 auto;
    box-shadow: 1px 1px 0px 9px #E6E6E6;
}

.productdetails-view li {
    list-style-image: url("../../../images/vineta.png");
    margin-bottom: 15px;
    margin-left: 21px;
    line-height: 14px;
    color: #999999;
    font-size: 15px;
}

.back-to-category {
    float: right;
    background: url("../../../images/bt-volver.png");
    width: 125px;
    height: 31px;
    margin-top: 20px;
    opacity: 1;
}

.back-to-category a {
    color: #fff;
    display: inline-block;
    font-size: 17px;
    font-weight: 600;
    margin-left: 31px;
    margin-top: 1px;
    background: none;
    border: none;
}

.back-to-category a:hover {
    color: #fff;
    display: inline-block;
    font-size: 17px;
    font-weight: 600;
    margin-left: 31px;
    margin-top: 1px;
    background: none;
    border: none;
}

/*fin de los estilos de el catalogo*/

.form-content {
    position: relative;
    border: 1px solid #ccc;
    padding-bottom: 30px;
    padding-left: 60px;
    padding-top: 30px;
    width: 527px;
}

.form-content:before {
    position: absolute;
    content: "";
    bottom: -43px;
    left: -31px;
    background: url("../../../images/sombra-conta.png");
    width: 658px;
    height: 42px;

}

/*formulario*/

.rsform-input-box {
    width: 343px;
    height: 30px;
    background: #fff;
    border: 1px solid #fff;
    box-shadow: inset 0px 0px 7px rgba(0,0,0,0.4);
    font-family: arimo;
    color: #999;
    font-size: 13px;
}

.formCaption {
    font-weight: 600;
    font-family: arimo;
    font-size: 15px;
    color: #004561;
}

strong.formRequired {
    font-style: normal;
    font-weight: normal;
    margin-left: 3px;
    font-size: 11px;
}

div.formCaption {
    display: block;
    float: left;
    min-height: 12px;
    width: 17%;
}

.formFieldset {
    border: 0;
}

.rsform-text-box {
    width: 343px;
    height: 120px;
    background: #fff;
    border: 1px solid #fff;
    box-shadow: inset 0px 0px 7px rgba(0,0,0,0.4);
    font-family: arimo;
    color: #999;
    font-size: 13px;
}

fieldset.formFieldset ol.formContainer li {
    background-image: none;
    clear: both;
    list-style: none outside none;
    margin: 0;
    padding: 11px;
}

.rsform-submit-button {
    width: 129px;
    height: 37px;
    background: url("../../../images/enviar.png") no-repeat;
    color: #fff;
    border: 0;
    font-family: roboto;
    font-size: 17px;
    cursor: pointer;
    opacity: 1;
    float: right;
}

.rsform-reset-button {
   width: 129px;
    height: 37px;
    background: url("../../../images/borrar.png") no-repeat;
    color: #fff;
    border: 0;
    font-family: roboto;
    font-size: 17px;
    cursor: pointer;
    opacity: 1; 
    margin-left: 78px;
}

.rsform-submit-button:hover, .rsform-reset-button:hover {
    opacity: 0.8;
}


.tabla-contacto {
    width: 100%;
}

.tabla-contacto td {
    vertical-align: top;
    color: #999999;
    font-family: Arimo;
    font-size: 15px;
    line-height: 20px;
}

.tabla-sedes {
    width: 100%;
}

.tabla-sedes td img {
    border: 1px solid #ccc;
    box-shadow: 4px 4px 3px rgba(0,0,0,0.2);
}

.tabla-sedes td {
    padding-bottom: 20px;
    vertical-align: top;
}

.tabla-sedes td ul {
    margin-left: 3px;
}

.tabla-sedes td ul li {
    list-style-image: url("../../../images/vineta.png");
    color: #999999;
    font-size: 14px;
}

.tabla-sedes td h4 {
    margin: 0 0 4px !important;
}

.resaltado-red {
    color: #E7212D;
    font-family: roboto;
    font-weight: 300;
    font-size: 21px;
    margin: 40px 0 50px 0;
    display: inline-block;
}

.rsform-submit-button.btn.btn-primary {
    margin-right: 200px;
}

.resaltado {
    color: #333333;
}

#copy a {
    float: right;
}


/*Calendario*/

#jevents_header h2 {
    position: relative;
    color: #E7212D;
    font-family: roboto;
    font-weight: 300;
    font-size: 21px;
    margin:50px 0 27px 0;
    padding: 0 0 6px 0;
}

#jevents_header h2:before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 44px;
    height: 3px;
    background: #E7212D;
}

.ev_navigation {
    display: none;
}

#jevents_body fieldset {
    border: 0;
}

.ev_fieldset {
    font-family: roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    color: #00768e;
}

.ev_table {
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    width: 100%;
}

.cal_td_daysnames {
    background-color: #E7212D;
    border-bottom: 1px solid #ccc;
    color: rgb(240, 240, 240);
    font-weight: bold;
    height: 25px !important;
    line-height: 25px;
    text-align: center !important;
}

.ev_td_left {
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    color: black;
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    margin-right: 1em;
    text-align: left;
    vertical-align: top;
}

.ev_td_right {
    border-top: 1px solid #ccc;
}

a.ev_link_row:link {
    color: #00768e;
    text-decoration: underline;
    font-family: Verdana;
    font-size: 12px;
}

.contentheading {
    font-family: roboto;
    font-size: 23px;
    font-style: normal;
    font-weight: bold;
    color: #00768e;
}

.contentpaneopen p {
    color: #999999;
    font-family: Arimo;
    font-size: 15px;
    line-height: 26px;
    text-align: justify;
}

.ev_detail.repeat {
    color: #666;
}

#jevents_body a {
    color: #e7212d;
}

.item-page > h1 {display: none;}

.enlace-descarga {
    background: #005888; /* Old browsers */
    background: -moz-linear-gradient(top,  #005888 0%, #004462 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#005888), color-stop(100%,#004462)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #005888 0%,#004462 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #005888 0%,#004462 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #005888 0%,#004462 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #005888 0%,#004462 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005888', endColorstr='#004462',GradientType=0 ); /* IE6-9 */
    color: #fff;
    font-family: roboto;
    font-size: 18px;
    font-weight: 500;
    padding: 5px 10px;
    opacity: 1;
    display: inline-block;

}

.enlace-descarga:hover {
    background: #005888; /* Old browsers */
    background: -moz-linear-gradient(top,  #005888 0%, #004462 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#005888), color-stop(100%,#004462)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #005888 0%,#004462 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #005888 0%,#004462 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #005888 0%,#004462 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #005888 0%,#004462 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005888', endColorstr='#004462',GradientType=0 ); /* IE6-9 */
    color: #fff;
    font-family: roboto;
    font-size: 18px;
    font-weight: 500;
    padding: 5px 10px;
    opacity: 0.8;
    display: inline-block;
 
}

/*Buscador de productos*/

.search .inputbox {
    border: 0 none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4) inset;
    padding: 6px 0 6px 5px;
    width: 224px;
    color: #999999;
    font-family: roboto;
    font-size: 14px;
    width: 221px !important;
}




