/**
 * NoNumber Page stylesheet
 *
 * @package         Tabs
 * @version         3.4.4
 *
 * @author          Peter van Westen <peter@nonumber.nl>
 * @link            http://www.nonumber.nl
 * @copyright       Copyright © 2014 NoNumber All Rights Reserved
 * @license         http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */
/*
 * You can override this stylesheet by creating your own in:
 * /templates/[YOUR TEMPLATE]/css/tabs/style.min.css
 */
div.nn_tabs_container > div.nn_tabs_nav {
  display: block;
  clear: left;
  line-height: 1em;
  zoom: 1;
}
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none !important;
  list-style-image: none !important;
  background: none !important;
  border-bottom: 1px solid #ddd;
  *zoom: 1;
}
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs:before,
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs:after {
  display: table;
  content: "";
  line-height: 0;
}
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs:after {
  clear: both;
}
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li {
  float: left;
  margin: 0 !important;
  margin-bottom: -1px !important;
  padding: 0 !important;
  list-style: none !important;
  list-style-image: none !important;
  background: none !important;
}
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li:before {
  content: "";
  margin: 0;
  padding: 0;
}
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li > span > a {
  display: block;
  margin-right: 2px;
  padding: 8px 12px;
  border: 1px solid transparent;
  border-bottom-color: transparent;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li > span > a,
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li > span > a:link,
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li > span > a:visited,
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li > span > a:active,
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li > span > a:hover {
  outline: 0;
  line-height: 1.5em !important;
  text-decoration: none !important;
  color: #555555;
}
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li > span > a:hover {
  background-color: #eee;
}
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.active > span > a,
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.active > span > a:hover {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.active > span > a:focus {
  background-color: #ffffff !important;
  color: #555555 !important;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
div.nn_tabs_container .nn_tabs-scroll {
  position: relative;
  visibility: hidden;
}
div.nn_tabs_container.outline_handles > div.nn_tabs_nav > ul.nn_tabs_tabs > li > span > a,
div.nn_tabs_container.outline_handles > div.nn_tabs_nav > ul.nn_tabs_tabs > li > span > a:hover {
  border-top-color: #ddd;
  border-left-color: #ddd;
  border-right-color: #ddd;
}
div.nn_tabs_container.align_right > div.nn_tabs_nav > ul.nn_tabs_tabs > li {
  float: right;
}
div.nn_tabs_container.align_right > div.nn_tabs_nav > ul.nn_tabs_tabs > li > span > a {
  margin-left: 2px;
  margin-right: 0;
}
div.nn_tabs_container.align_center > div.nn_tabs_nav > ul.nn_tabs_tabs {
  text-align: center;
}
div.nn_tabs_container.align_center > div.nn_tabs_nav > ul.nn_tabs_tabs > li {
  float: none;
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  margin-left: -1px !important;
  margin-right: -3px !important;
}
div.nn_tabs_container.align_justify > div.nn_tabs_nav > ul.nn_tabs_tabs {
  text-align: center;
  display: table;
  width: 100%;
}
div.nn_tabs_container.align_justify > div.nn_tabs_nav > ul.nn_tabs_tabs > li {
  float: none;
  display: table-cell;
}
div.nn_tabs_container.align_justify > div.nn_tabs_nav > ul.nn_tabs_tabs > li > span > a {
  margin-left: 4px;
  margin-right: -2px;
}
div.nn_tabs_container.align_justify > div.nn_tabs_nav > ul.nn_tabs_tabs > li:first-child > span > a {
  margin-left: -1px;
}
div.nn_tabs_container.align_justify > div.nn_tabs_nav > ul.nn_tabs_tabs > li.active a,
div.nn_tabs_container.align_justify > div.nn_tabs_nav > ul.nn_tabs_tabs > li.active a:hover {
  border-bottom: 2px solid #fff;
  margin-bottom: -1px;
}
div.nn_tabs_container > div.nn_tabs_content {
  margin-bottom: 18px;
  border: 1px solid transparent;
  border-top: 0;
  padding: 8px 12px;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  position: relative !important;
  overflow: hidden !important;
}
div.nn_tabs_container > div.nn_tabs_content > div,
div.nn_tabs_container > div.nn_tabs_content div.nn_tabs_item {
  position: relative !important;
  overflow-y: hidden !important;
  overflow-x: auto;
}
div.nn_tabs_container.outline_content > div.nn_tabs_content {
  border-bottom-color: #ddd;
  border-left-color: #ddd;
  border-right-color: #ddd;
}
div.nn_tabs_container.nn_tabs_noscript div.nn_tabs_content {
  margin: 0;
  padding: 0;
  border: none;
}
@media (max-width: 768px) {
  div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li:last-child > span > a,
  div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.active:last-child > span > a {
    border-bottom: 1px solid #ddd;
  }
}
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.blue > span > a,
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.blue > span > a:hover {
  border-top: 5px solid #74b4e8;
  padding-top: 4px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.blue > span > a:hover,
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.blue > span.active > a {
  border-top-color: #2384d3;
}
@media (max-width: 768px) {
  div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.blue > span > a,
  div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.blue > span > a:hover {
    border-top-width: 1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
}
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.primary > span > a,
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.primary > span > a:hover {
  border-top: 5px solid #74b4e8;
  padding-top: 4px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.primary > span > a:hover,
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.primary > span.active > a {
  border-top-color: #2384d3;
}
@media (max-width: 768px) {
  div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.primary > span > a,
  div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.primary > span > a:hover {
    border-top-width: 1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
}
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.info > span > a,
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.info > span > a:hover {
  border-top: 5px solid #6fc2da;
  padding-top: 4px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.info > span > a:hover,
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.info > span.active > a {
  border-top-color: #2f96b4;
}
@media (max-width: 768px) {
  div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.info > span > a,
  div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.info > span > a:hover {
    border-top-width: 1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
}
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.green > span > a,
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.green > span > a:hover {
  border-top: 5px solid #91c991;
  padding-top: 4px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.green > span > a:hover,
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.green > span.active > a {
  border-top-color: #51a351;
}
@media (max-width: 768px) {
  div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.green > span > a,
  div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.green > span > a:hover {
    border-top-width: 1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
}
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.success > span > a,
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.success > span > a:hover {
  border-top: 5px solid #91c991;
  padding-top: 4px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.success > span > a:hover,
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.success > span.active > a {
  border-top-color: #51a351;
}
@media (max-width: 768px) {
  div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.success > span > a,
  div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.success > span > a:hover {
    border-top-width: 1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
}
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.orange > span > a,
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.orange > span > a:hover {
  border-top: 5px solid #fbbf69;
  padding-top: 4px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.orange > span > a:hover,
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.orange > span.active > a {
  border-top-color: #f89406;
}
@media (max-width: 768px) {
  div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.orange > span > a,
  div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.orange > span > a:hover {
    border-top-width: 1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
}
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.warning > span > a,
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.warning > span > a:hover {
  border-top: 5px solid #fbbf69;
  padding-top: 4px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.warning > span > a:hover,
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.warning > span.active > a {
  border-top-color: #f89406;
}
@media (max-width: 768px) {
  div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.warning > span > a,
  div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.warning > span > a:hover {
    border-top-width: 1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
}
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.red > span > a,
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.red > span > a:hover {
  border-top: 5px solid #dd7a75;
  padding-top: 4px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.red > span > a:hover,
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.red > span.active > a {
  border-top-color: #bd362f;
}
@media (max-width: 768px) {
  div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.red > span > a,
  div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.red > span > a:hover {
    border-top-width: 1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
}
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.danger > span > a,
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.danger > span > a:hover {
  border-top: 5px solid #dd7a75;
  padding-top: 4px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.danger > span > a:hover,
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.danger > span.active > a {
  border-top-color: #bd362f;
}
@media (max-width: 768px) {
  div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.danger > span > a,
  div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.danger > span > a:hover {
    border-top-width: 1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
}
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.error > span > a,
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.error > span > a:hover {
  border-top: 5px solid #dd7a75;
  padding-top: 4px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.error > span > a:hover,
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.error > span.active > a {
  border-top-color: #bd362f;
}
@media (max-width: 768px) {
  div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.error > span > a,
  div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.error > span > a:hover {
    border-top-width: 1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
}
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.grey > span > a,
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.grey > span > a:hover {
  border-top: 5px solid #b3b3b3;
  padding-top: 4px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.grey > span > a:hover,
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.grey > span.active > a {
  border-top-color: #808080;
}
@media (max-width: 768px) {
  div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.grey > span > a,
  div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.grey > span > a:hover {
    border-top-width: 1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
}
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.gray > span > a,
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.gray > span > a:hover {
  border-top: 5px solid #b3b3b3;
  padding-top: 4px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.gray > span > a:hover,
div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.gray > span.active > a {
  border-top-color: #808080;
}
@media (max-width: 768px) {
  div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.gray > span > a,
  div.nn_tabs_container > div.nn_tabs_nav > ul.nn_tabs_tabs > li.gray > span > a:hover {
    border-top-width: 1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
}
