<div class="certificacion-modal">
	<div class="certification">
		<p>La empresa <strong>Comercializadora G&M</strong> autoriza a la empresa <strong><%= empresa.get('nombre') %></strong> con número de NIT <strong><%= empresa.get('nit') %></strong> para presentar a las entidades que lo requieran el certificado de conformidad número <strong><%= certificacion.get('codigo') %></strong>  del producto <strong><%= producto.get('nombre') %></strong>  con código <strong><%= producto.get('codigo_certificado') %></strong> para <strong><%= certificacion.get('tipo_certificacion') %></strong>. </p>

		<p>El presente certificado rige desde el <strong><%= certificacion.get('fecha_inicio') %></strong> hasta <strong><%= certificacion.get('fecha_fin') %></strong>. </p>
	</div>
	<div class="imprimir">
		<input type="submit" class="button" id="print-certificacion" value="Imprimir">
	</div>
</div>