<div class="replica-content">

	<h3>Diagnostico del técnico:</h3></br></br>
	<p class="diagnostico"><%= diagnostico %></p>
	<form id="replica-form">
		<input type="hidden" name="id" value="<%= id_producto %>"> 
		<ul>
			<li><label>Replica:</label></li>
			<li><textarea name="replica"><%= replica %></textarea></li>
			<li><input type="submit" class="button-normal" value="Enviar"></li>
		</ul>

	</form>
</div>

