<form id="print-solicitud-form">
	<div class="notification">
		<ul>
			<li><img src="<%= url %>images/chulo.png"></li>
			<li><label>Su solicitud ha sido recibida, pronto nos comunicaremos con usted</label></li>
			<li><label>Su número de solicitud es 0000<%= radicado %></label></li>
		</ul>

		<ul class="print">
			<li><label>Por favor imprima esto</label></li>
			<li><input type="submit" class="button-app" id="print-garantia" value="Imprimir"></li>
		</ul>
	</div>
</form>