
<% 

_.each( products, function( element, index, list ){
%>

	<tr>
		<td><a class="remove-product" data-id="<%= element.cid %>"><img src="<%= url %>/images/delete.png" style="width: 34px;"></a></td>
		<td><%= element.get( 'referencia' ) %></td>
		<td><%= element.get( 'serial' ) %></td>
		<td><img style="width:100px;" src="<%= url + 'imgproductos/tmp/' + element.get( 'foto' ) %>"/></td>
	</tr>
<%
}) %>
