
<table>
	<% 
	_.each( products.models, function( element, index, list ){
	%>
	<tr>
		<td><a class="remove-product" data-id="<%= element.cid %>"><img src="<%= url %>/images/delete.png" style="width: 34px;"></a></td>
		<td><%= element.get( 'nombre_producto' ) %></td>
		<td><%= element.get( 'serial' ) %></td>
		<td><a class="ver-mas" data-descripcion="<%= element.get('descripcion_fallo') %>" href="#">Ver más</a></td>
	</tr>
	<%
	}) %>
</table>
