<div class="certificacion-modal">
	<div class="certification">
		<p>Pertenece al producto <strong><%= serial.get('producto') %></strong> de capacidad <strong><%= serial.get('capacidad') %></strong> y se encuentra amparado bajo el número de certificado No. <strong><%= serial.get('certificado') %></strong>.</p>

		<p>El presente certificado rige desde el <strong><%= serial.get('fecha_inicio') %></strong> hasta el <strong><%= serial.get('fecha_fin') %></strong>.</p>
	</div>
	<div class="imprimir">
		<input type="submit" class="button" id="print-serial" value="Imprimir">
	</div>
</div>