.ju-slideshow.default-modal {
}

.default-modal .ju-slide-container {
}

.default-modal .ju-slide-desc {
	background: none;
	color: #313131;
	width: 100%;
	height: 100%;
}

.default-modal .ju-slide-desc .label-title {
	text-transform: uppercase;
	margin: 0px 0px 10px;
	line-height: 1;
	font-size: 28px;
	background: #78C043;
	padding: 7px 17px;
	border-radius: 9px;
	color: #fff;
	padding-left: 21px;
}

#banner .ju-slide-desc-inner h3:after {
	 border-bottom: none;
	bottom: 92%;
	content: "";
	display: inline-block;
	left: 77%;
	position: absolute;
	width: 44px;
}

.default-modal .ju-slide-desc .label-desc {
	font-size: 16px;
	line-height: 1.6;
	font-weight: normal;
	margin-bottom: 10px;
}

.default-modal .ju-slide-desc a.readmore {
    background: url("images/readmore.png") no-repeat scroll right center transparent;
    border: 2px solid #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
	line-height: 20px;
    padding-right: 20px;
    text-shadow: 1px 1px 2px #AAAAAA;
}

.default-modal .ju-slide-desc a.readmore:hover {
	border: 2px solid #EEEEEE;
}

.default-modal .ju-slide-btns .prev_button, .default-modal .ju-slide-btns .next_button {
	height: 45px;
	width: 35px;
	top: 35%;
	position: fixed;
	margin-top: -23px;
	background-image: url("images/arrow.png");
	background-repeat: no-repeat;
}

.default-modal .prev_button {
	background-position: -4px -10px;
	left: 0;
}

.default-modal .next_button {
	background-position: -42px -10px;
	right: 0;
}

.default-modal .ju-slide-btns .focus_button, .default-modal .ju-slide-btns .play_pause_button {
    background-image: url("images/function_btn.png");
    background-repeat: no-repeat;
    height: 40px;
    margin-top: -20px;
	margin-bottom: -20px;
    width: 40px;
}

.default-modal .ju-slide-btns .focus_button {
	background-position: -80px 0px;
	margin-left: 3px;
	margin-right: -3px;
}

.default-modal .ju-slide-btns .play_pause_button {
	background-position: -40px 0px;
	margin-left: -3px;
	margin-right: 3px;
}

.default-modal .ju-slide-btns .play_button {
	background-position: 0px 0px;
}

.default-modal .focus_button.fc_btn_center {
	margin-left: 4px;
}

.default-modal .play_pause_button.pp_btn_center {
	margin-left: -44px;
}

.default-modal .horizontal_thumbs .ju-slide-navigation {
	background: none repeat scroll 0 0 #F5F5F5;
}

.default-modal .horizontal_thumbs .ju-slide-navigation {
	padding-right: 2px !important;
}

.default-modal .vertical_thumbs .ju-slide-navigation {
	padding-bottom: 2px !important;
}

.default-modal .ju-slide-navigation-dots {
	margin: 2px 5px;
}

.default-modal .ju-slide-navigation-dots .image_number {
    background: url("images/bullet.png") no-repeat scroll center 0 transparent;
    height: 16px;
    margin: 0 4px;
    width: 16px;
}

.default-modal .ju-slide-navigation-dots .image_number_select {
	background: url("images/bullet.png") no-repeat scroll center -16px transparent;
}

.default-modal .preview_slide {
    border: 1px solid #666666;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.default-modal .ju-slide-navigation-numbers {
	top: auto;
	bottom: 15px;
	margin: 0px 15px;
	border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
}

.default-modal .ju-slide-thumb-container {
	border-radius: 3px;
	-webkit-border-radius: 3px;
}

.default-modal .ju-slide-thumb-navigation {
    background: none repeat scroll 0 0 #F5F5F5;
    position: fixed;
}

.default-modal .ju-slide-thumb-navigation .image_number {
    background: none repeat scroll 0 0 #F5F5F5;
    margin: 0;
}

.default-modal .horizontal_thumbs .ju-slide-thumb-navigation .image_number {
    padding: 2px 0 2px 2px;
}

.default-modal .vertical_thumbs .ju-slide-thumb-navigation .image_number {
    padding: 2px 2px 0 2px;
}

.default-modal .ju-slide-navigation-numbers .image_number {
	border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	margin: 0px 1px;
}

.default-modal .ju-slide-thumb-navigation .image_number img {
    opacity: 0.8;
}

.default-modal .ju-slide-thumb-navigation .image_number_select img {
    opacity: 1;
	border: 1px dashed #0073e5;
	transition: all 0.4s linear 0s;
	-webkit-transition: all 0.4s linear 0s;
}

.default-modal .ju-slide-thumb-navigation .image_number:hover {
	background: #F5F5F5;
}

.default-modal .ju-slide-thumb-navigation .image_number img:hover {
	opacity: 1;
}

.default-modal .ju-slide-thumb-navigation .image_number_select {
}

.default-modal .horizontal_thumbs {
	bottom: 10px;
	padding-right: 2px
}

.default-modal .vertical_thumbs {
	right: 10px;
	padding-bottom: 2px;
}

.default-modal .progressbar {
	background: #FFFFFF;
	left: 0px;
	border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	bottom: 0px;
	height: 5px;
	top: auto;
	width: 100%;
}

.default-modal .loading {
    background: url("images/loader.gif") no-repeat scroll center center #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    height: 24px;
    margin: -14px;
    padding: 5px;
    width: 24px;
}

.default-modal .ju-slide-desc.label-hide .label-title {
	margin-left: -500px;
	transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
}

.default-modal .ju-slide-desc.label-show .label-title {
	margin-left: 0;
	transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
}
