/* (C) 2012 Netbase */

/* login */
span.niftyquick span.yoo-login span.login {
	height: 24px;
}

span.niftyquick span.yoo-login span.login span.username, 
span.niftyquick span.yoo-login span.login span.password,
span.niftyquick span.yoo-login span.login span.login-button,
span.niftyquick span.yoo-login span.login span.lostpassword, 
span.niftyquick span.yoo-login span.login span.lostusername,
span.niftyquick span.yoo-login span.login span.registration,
span.niftyquick span.yoo-login span.logout span.greeting,
span.niftyquick span.yoo-login span.logout span.logout-button {
	margin-right: 5px;
	float: left;
	overflow: hidden;
}

span.niftyquick span.yoo-login span.login span.username,
span.niftyquick span.yoo-login span.login span.password {
	width: 74px;
	height: 16px;
	padding: 6px 5px 2px 25px;
	float: left;
	overflow: hidden;
}

span.niftyquick span.yoo-login span.login span.username {
	background: url(styles/niftyquick/images/username_bg.png) 0 0 no-repeat; /* ie6png:crop */
}

span.niftyquick span.yoo-login span.login span.password {
	background: url(styles/niftyquick/images/password_bg.png) 0 0 no-repeat; /* ie6png:crop */
}

span.niftyquick span.yoo-login span.login span.username:hover {
	background: url(styles/niftyquick/images/username_bg.png) 0 -24px no-repeat;
}

span.niftyquick span.yoo-login span.login span.password:hover {
	background: url(styles/niftyquick/images/password_bg.png) 0 -24px no-repeat;
}

span.niftyquick span.yoo-login span.login span.username input,
span.niftyquick span.yoo-login span.login span.password input {
	padding: 0px;
	width: 100%;
	background: none;
	border: none;
	outline: none;
	float: left;
	color: #646464;
	font-size: 11px;
}

span.niftyquick span.yoo-login span.login span.username input:hover,
span.niftyquick span.yoo-login span.login span.password input:hover,
span.niftyquick span.yoo-login span.login span.username input:focus,
span.niftyquick span.yoo-login span.login span.password input:focus {
	color: #000000;
}

span.niftyquick span.yoo-login span.login span.login-button {
	margin-top: 2px;
	margin-bottom: 2px;
	width: 50px;
	height: 20px;
	background: url(styles/niftyquick/images/button_bg.png) 0 0 no-repeat; /* ie6png:crop */
}

span.niftyquick span.yoo-login span.login span.login-button:hover {
	background: url(styles/niftyquick/images/button_bg.png) 0 -20px no-repeat;
}

span.niftyquick span.yoo-login span.login span.login-button button {
	display: block;
	padding: 0px 0px 0px 0px;
	width: 100%;
	height: 20px;
	border: none;
	background: none;
	cursor: pointer;
	overflow: hidden;
	font-size: 11px;
	line-height: 20px;
	color: #646464;
	text-transform: lowercase;
}

span.niftyquick span.yoo-login span.login span.login-button button:hover {
	color: #000000;
}

span.niftyquick span.yoo-login span.login span.lostpassword,
span.niftyquick span.yoo-login span.login span.lostusername,
span.niftyquick span.yoo-login span.login span.registration {
	margin-top: 2px;
	margin-bottom: 2px;
}

span.niftyquick span.yoo-login span.login span.lostpassword {
	width: 25px;
	background: url(styles/niftyquick/images/lost_password_bg.png) 0 0px no-repeat; /* ie6png:crop */
}

span.niftyquick span.yoo-login span.login span.cart_vms {
	width: 25px;
  	background: url(styles/niftyquick/images/images2.jpg) 0 0px no-repeat; /* ie6png:crop */
    float: left;
    height: 20px;
    display: block;
    cursor: pointer;
    overflow: hidden;
}


span.niftyquick span.yoo-login span.login span.lostusername {
	width: 25px;
	background: url(styles/niftyquick/images/lost_username_bg.png) 0 0px no-repeat; /* ie6png:crop */
}

span.niftyquick span.yoo-login span.login span.registration {
	width: 31px;
	background: url(styles/niftyquick/images/registration_bg.png) 0 0px no-repeat; /* ie6png:crop */
}

span.niftyquick span.yoo-login span.login span.lostpassword a,
span.niftyquick span.yoo-login span.login span.lostusername a,
span.niftyquick span.yoo-login span.login span.cart_vms a,
span.niftyquick span.yoo-login span.login span.registration a {
	display: block;
	width: 100%;
	height: 20px;
}


/* logout */
span.niftyquick span.yoo-login span.logout {
	height: 24px;
}

span.niftyquick span.yoo-login span.logout span.greeting {
	line-height: 24px;
}

span.niftyquick span.yoo-login span.logout span.logout-button {
	margin-top: 2px;
	width: 50px;
	height: 20px;
	background: url(styles/niftyquick/images/button_bg.png) 0 0 no-repeat; /* ie6png:crop */
}

span.niftyquick span.yoo-login span.logout span.logout-button:hover {
	background: url(styles/niftyquick/images/button_bg.png) 0 -20px no-repeat;
}

span.niftyquick span.yoo-login span.logout span.logout-button button {
	display: block;
	padding: 0px 0px 0px 0px;
	width: 100%;
	height: 20px;
	border: none;
	background: none;
	cursor: pointer;
	overflow: hidden;
	font-size: 11px;
	line-height: 20px;
	color: #646464;
	text-transform: lowercase;
}

span.niftyquick span.yoo-login span.logout span.logout-button button:hover {
	color: #000000;
}
.yoo-login .login a:hover {
    background: none !important;
}