
* {
    font-family: 'Roboto',sans-serif;
    margin: 0;
    padding: 0;
}
body {
    background-color: #FFFFFF;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}
img {
    border: 0 none;
}
p {
    color: #4F346E;
    font-family: 'Didact Gothic','sans-serif';
    font-size: 14px;
}
b {
}
strong {
}
table {
}
td {
}
ul {
    list-style: none outside none;
}
a {
    font-size: 14px;
    text-decoration: none;
}
a:visited {
    font-size: 14px;
    text-decoration: none;
}
a:hover {
    font-size: 14px;
    text-decoration: none;
}
h3 {
}
h4 {
    color: #AB1F26;
    font-size: 17px;
    font-weight: 200;
}
h4 a {
    color: #AB1F26;
    font-size: 17px;
    font-weight: 200;
}
h2 {
    background: url("../images/franja-noti.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #FFFFFF;
    font-family: 'Donegal One',serif;
    font-size: 17px;
    font-weight: 100;
    height: 30px;
    margin: 30px 0;
    padding: 5px 0 0 43px;
    width: 960px;
}
hr {
    border-bottom: medium none;
    border-top: 1px dashed #CCCCCC;
    height: 0;
    margin: 18px auto 0;
    width: 95%;
}
hr.separator {
}
.article_seperator {
}
.pagenav {
    border-radius: 5px 10px;
    color: #FFFFFF;
    font-family: 'Orbitron',arial,serif;
    font-size: 9px;
    padding: 3px;
    text-transform: uppercase;
}
.pagenav:hover {
    background-color: #4D4D4D;
}
#content_cab {
    background: url("../images/cabezoteFondo.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 151px;
    margin: 0 auto;
    position: relative;
    width: 100%;
    z-index: 8888888;
}
#content_top {
    position: relative;
    height: 232px;
    margin: 0 auto;
    width: 1000px;
}
.enlace-home {
    position: absolute;
    z-index: 99999999;
    width: 257px;
    height: 94px;
    top: 9px;
    left: 24px;
}
#logo-animate {
    float: left;
    height: 142px;
    padding-top: 5px;
    position: relative;
    width: 326px;
    z-index: 98765;
}
#mods-top {
    float: right;
    margin-top: 10px;
    width: 327px;
}

#acceso {
    margin-left: 47px;
}

#buscar {
    margin-top: 10px;
}
#buscar .search input.button {
    background: none repeat scroll 0 0 #0F6F96;
    border: medium none;
    color: #FFFFFF;
    padding: 3px 9px 5px;
    font-family: roboto;
    font-size: 14px;
    border: 1px solid #003449;
    margin-left: 5px;
    cursor: pointer;
}
#buscar input#mod-search-searchword {
    color: #999999;
    font-size: 14px;
    margin-right: 3px;
    padding: 2px 0;
    width: 245px;
}

#buscar label {
    display: none;
}
#content-banner {
    float: left;
    height: 378px;
    margin-bottom: 27px;
    margin-top: -41px;
    overflow-x: hidden;
    width: 100%;
}
.default-modal .ju-slide-navigation-dots {
    margin: 3px 5px;
}
#banner {
    height: 378px;
    margin: 0 auto;
    width: 100%;
}
#sombra-banner {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    height: 37px;
    margin-top: -60px;
    opacity: 0.2;
    width: 100%;
}
#content-menu {
    float: left;
    height: 46px;
    margin: -23px auto 0;
    position: relative;
    width: 100%;
    z-index: 99999999;
}
#menu {
    background: none repeat scroll 0 0 #FAFAFA;
    height: 42px;
    margin: -3px auto 0;
    position: relative;
    width: 1000px;
}
#menu .moduletable .menu {
    display: inline-block;
    float: right;
    list-style: none outside none;
    margin: 0;
    padding: 0 0 1px;
    position: relative;
    width: 991px;
    z-index: 999;
}
.moduletable .menu li {
    border-right: 1px solid #CCCCCC;
    float: left;
    height: 27px;
    margin-left: 5px;
    margin-right: 1px;
    padding: 12px 27px 5px 25px;
    position: relative;
}
.moduletable .menu li:last-child {
    border-right: medium none;
}
.moduletable .menu li a {
    color: #00768E;
    font-family: 'Arimo','sans-serif';
    font-size: 15px;
}
.moduletable .menu li a:hover, .moduletable .menu li:hover a {
    border-bottom: 3px solid #7ABE4B;
    color: #7ABE4B;
    font-family: 'Arimo','sans-serif';
    font-size: 15px;
    padding-bottom: 11px;
}
#menu .moduletable .menu li ul {
    background: none repeat scroll 0 0 #83B151;
    height: 0;
    left: 1px;
    padding: 3px 0;
    position: absolute;
    top: 44px;
    transition: height 100ms ease 0s, visibility 100ms ease 0s;
    visibility: hidden;
    width: 176px;
    z-index: 99992;
}
#menu .moduletable .menu li ul li {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #6A9140;
    border-image: none;
    border-style: none none dashed;
    border-width: 0 0 1px;
    color: #42005B;
    height: 0;
    margin: 0;
    padding: 4px 2px 9px 9px;
    transition: height 100ms ease 0s, visibility 100ms ease 0s;
    visibility: hidden;
    width: 165px;
}
#menu .moduletable .menu li ul li:last-child {
    border-bottom: 0 none;
}
#menu .moduletable .menu > li:first-child {
    border-left: 0 none;
}
#menu .menu li .item-104 ul li {
    border: medium none;
}
#menu .menu li ul li:last-child {
    margin-bottom: -1px;
}
#menu .menu li ul li a {
    border-bottom: 0 none !important;
    color: #FFFFFF !important;
}
#menu .menu li ul li:hover {
}
#menu .menu > li:hover ul {
    height: auto;
    visibility: visible;
}
#menu .menu > li:hover ul li {
    height: 20px;
    visibility: visible;
}

/*Estilos de el menu pirncipal con el modulo*/

#flyout_menu_100 {
    text-align: left;
    background: none !important;
    border:none;
}

#flyout_menu_100 li .item-wrapper .menu-link {
    float: left;
    padding: 0 28px 0 16px;
    border-right: 1px solid #ccc;
    height: 37px;
}

#flyout_menu_100 a {
    color: #00768E;
    font-family: 'Arimo','sans-serif';
    font-size: 15px;
    padding-bottom: 12px;
}

#flyout_menu_100 li .item-wrapper .menu-button {display: none;}

#flyout_menu_100 li.current > .item-wrapper a {
    color: #83B151;
    font-family: 'Arimo','sans-serif';
    font-size: 15px;º
}

#flyout_menu_100 a:hover {
    border-bottom: 3px solid #7ABE4B;
    color: #7ABE4B;
    font-family: 'Arimo','sans-serif';
    font-size: 15px;
    padding-bottom: 1px;
}

#flyout_menu_100 li ul {
    border: none;
    width: 200px;
    background: #83B151;
    margin: 0px;
    padding: 0px;
}

#flyout_menu_100 div.ul-wrapper.direction-left.ul_wrapper_100 .item-wrapper  .menu-link {
    border-right: none;
    padding: 0 10px 0 12px;
}

.flyout-menu li ul li .item-wrapper {
    background: none repeat scroll 0 0 #83B151;
}

#flyout_menu_100 li li {
    position: relative;
    border-bottom: 1px dashed #666;
}

/*.flyout-menu li ul li .item-wrapper:last-child { border-bottom: none;}*/

.flyout-menu li ul li  {
    border-bottom: none;
}

.flyout-menu li ul li .item-wrapper a {
    line-height: 14px;
    padding: 10px 0;
    border-bottom: none;
    color: #fff !important;
}

#flyout_menu_100 li.last .item-wrapper .menu-link {border-right: none;}

ul.flyout-menu li ul, .flyout-menu.horizontal, .flyout-menu.vertical, ul.flyout-menu li{ margin: 3px 0 0 0 !important;}


/*Fin de los estilos al modulo de menu*/


#all-content {
    float: left;
    height: auto;
    margin: 0 auto;
    width: 100%;
}
#content-content {
    height: auto;
    margin: 0 auto;
    width: 1000px;
}
#left-content {
    float: left;
    height: auto;
    width: 765px;
}
#destacados {
    border-bottom: 1px solid #CCCCCC;
    float: left;
    height: 222px;
    margin: 0 0 25px;
    width: 749px;
}
.moduletabledestacados-home .nspArt h4.nspHeader {
    margin-bottom: 10px;
    margin-top: 12px;
    width: 482px;
}
.moduletabledestacados-home .nspArt h4.nspHeader a {
    color: #00768E;
    font-family: 'Roboto',sans-serif;
    font-size: 15px;
    font-weight: bold;
}
.moduletabledestacados-home h3 {
    color: #E7212D;
    font-family: 'Roboto',sans-serif;
    font-size: 21px;
    padding-bottom: 3px;
    width: 300px;
}
.moduletabledestacados-home h3:after {
    border-bottom: 3px solid #E7212D;
    bottom: 0;
    content: "";
    display: inline-block;
    left: 0;
    position: absolute;
    width: 44px;
}
.moduletabledestacados-home .nspArt img.nspImage {
    border:1px solid #ccc;
    box-shadow: 5px 6px 6px 0 #CCCCCC;
}
.moduletablenoticias-home .nspArt img.nspImage {
    border: medium none;
    box-shadow: -2px 3px 8px 4px #CCCCCC;
}
h3 {
    color: #E7212D;
    font-family: 'Roboto',sans-serif;
    font-size: 21px;
    font-weight: 400;
    position: relative;
}
h3:after {
    border-bottom: 3px solid #E7212D;
    bottom: 0;
    content: "";
    display: inline-block;
    left: 0;
    position: absolute;
    width: 44px;
}
.moduletablenoticias-home .nspArt h4.nspHeader {
    margin-bottom: 10px;
    margin-top: 27px;
    width: 500px;
}
.moduletablenoticias-home .nspArt h4.nspHeader a {
    color: #00768E;
    font-family: 'Roboto',sans-serif;
    font-size: 15px;
    font-weight: bold;
}
.nspPagination li {
    background-image: none;
    cursor: pointer;
    float: left;
    height: 23px;
    margin: 0 4px 0 0 !important;
    text-indent: 0;
    width: 13px;
}
#noticias {
    float: left;
    height: 159px;
    margin-top: 5px;
    width: 765px;
    margin-bottom: 16px;
}
.nspBotInterface, .nspTopInterface {
    float: right;
    margin: 5px 12px 0 0;
    overflow: hidden;
    width: 81px;
}
.moduletablenoticias-home .nspFs100 {
    font-size: 100%;
    margin-top: -54px;
}
a.readon.fleft {
    color: #EA212E;
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    text-decoration: underline;
}
.nspArt p.nspText {
    color: #999999;
    float: none;
    font-family: 'Arimo','sans-serif';
    font-size: 14px;
    text-align: justify;
}
ul.nspPagination li.active {
    color: #E7212D;
    text-decoration: underline;
}
ul.nspPagination li {
    color: #003D57;
    font-size: 12px;
}
#content-mods {
    float: left;
    height: 215px;
    width: 765px;
}
#banco-pruebas {
    border-radius: 8px;
    box-shadow: 0 1px 12px #777777;
    cursor: pointer;
    float: left;
    height: 215px;
    margin-top: 3px;
    position: relative;
    width: 221px;
}
#calendario {
    box-shadow: 0 2px 16px 4px #CCCCCC;
    float: left;
    height: 217px;
    margin-left: 26px;
    margin-right: 22px;
    margin-top: 4px;
    width: 226px;
}
#calendario .moduletable {
    margin-top: -4px;
}
#certificacion {
    float: left;
    height: 216px;
    margin-left: -9px;
    width: 251px;
}
#right-content {
    box-shadow: 0 2px 10px 2px #777777;
    float: right;
    height: 618px;
    margin-top: 31px;
}
#orden-aqui {
    cursor: pointer;
    float: right;
    height: 619px;
    width: 214px;
}
#descuentos {
    background: url("../images/CajaDescuentos.png") no-repeat scroll -4px -4px rgba(0, 0, 0, 0);
    border-radius: 13px;
    box-shadow: 0 3px 6px 0 rgba(50, 50, 50, 0.75);
    float: left;
    height: 230px;
    margin-top: 20px;
    width: 640px;
}
#content_pie {
    background: url("../images/pie.png") no-repeat scroll center top rgba(0, 0, 0, 0);
    float: left;
    height: 188px;
    margin: 40px auto 0;
    width: 100%;
}
#pie p {
}
#pie span {
    font-family: 'Didact Gothic','sans-serif';
    font-size: 18px;
}
#pie {
    color: #FFFFFF;
    float: right;
    font-family: 'Didact Gothic','sans-serif';
    font-size: 18px;
    height: 114px;
    margin-right: 161px;
    text-align: left;
    width: 460px;
}
h4.inferior {
    background: url("../images/linea-pie.png") no-repeat scroll 0 17px rgba(0, 0, 0, 0);
    color: #FFFFFF;
    display: inline-block;
    float: left;
    font-family: 'Arimo','sans-serif';
    font-size: 17px;
    font-weight: 400;
    height: 43px;
    width: 100%;
}
p.tinferior {
    color: #FFFFFF;
    float: left;
    font-family: 'Arimo','sans-serif';
    font-size: 15px;
    font-weight: lighter;
    text-shadow: 0 4px 11px #666666;
}
p.tinferior a {
    color: #FFFFFF;
    float: left;
    font-family: 'Arimo','sans-serif';
    font-size: 15px;
    font-weight: lighter;
    text-shadow: 0 4px 11px #666666;
}
h4.inferior2 {
    background: url("../images/linea-pie2.png") no-repeat scroll -9px 17px rgba(0, 0, 0, 0);
    color: #FFFFFF;
    display: inline-block;
    float: left;
    font-family: 'Arimo','sans-serif';
    font-size: 17px;
    font-weight: 400;
    height: 43px;
    width: 100%;
}
#like-face {
    float: right;
    margin-right: 56px;
    width: 260px;
}
#redes {
    float: left;
    height: 88px;
    position: relative;
    width: 321px;
}
#redes iframe {
    margin-right: -5px;
    margin-top: -20px;
}
#copy {
    color: #FFFFFF;
    float: left;
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    height: 22px;
    margin: 3px auto 0 0;
    text-align: left;
    width: 264px;
}
#logo {
    background-image: url("../images/logo_blanco.png");
    background-repeat: no-repeat;
    float: right;
    height: 20px;
    width: 72px;
}
#logo:hover {
    background-image: url("../images/logo_gris.png");
    background-repeat: no-repeat;
    float: right;
    height: 20px;
    margin-top: -1px;
    width: 72px;
}
#content_piedos {
    height: 112px;
    margin: 8px auto 0;
    padding-top: 70px;
    position: relative;
    width: 1000px;
}
#menu:before, #menu:after {
    bottom: 15px;
    box-shadow: 0 11px 12px #777777;
    content: "";
    height: 5px;
    left: 10px;
    max-width: 301px;
    position: absolute;
    top: 69%;
    transform: rotate(-3deg);
    width: 50%;
    z-index: -9999;
}
#menu:after {
    left: auto;
    right: 10px;
    transform: rotate(3deg);
}
#banco-pruebas:before, #banco-pruebas:after {
    bottom: 15px;
    box-shadow: 0 11px 12px #777777;
    content: "";
    height: 5px;
    left: 10px;
    max-width: 301px;
    position: absolute;
    top: 93%;
    transform: rotate(-3deg);
    width: 50%;
    z-index: -9999;
}
#banco-pruebas:after {
    left: auto;
    right: 10px;
    transform: rotate(3deg);
}
.mod_events_monthyear a.mod_events_link, .mod_events_monthyear a.mod_events_link:visited, .mod_events_monthyear a.mod_events_link:visited {
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
}
.default-modal .ju-slide-btns .prev_button, .default-modal .ju-slide-btns .next_button {
    border: 1px solid #FFFFFF;
    padding: 0 6px;
}

#banner .ju-slide-desc-inner h3 {
    
}

/*Buscador de productos*/

.inputbox {
    border: 0 none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4) inset;
    padding: 6px 0 6px 5px;
    width: 224px;
    color: #999999;
    font-family: roboto;
    font-size: 14px;
    width: 220px !important;
}
