@charset "UTF-8";
/* CSS Document */

body{
	margin:0;
}

#wrapSocial{
	width:125px;
	height:60px;
	position:relative;
}
#wrapSocial img{
	position:absolute;
	top:8px;
}

#tw{
	left:0px;
}
#fb{
	left:40px;
}
#go{
	left:80px;
}